{% extends "dataloaderinterface/base.html" %}
{% load widget_tweaks %}


{% block content %}
    <section class="page-content login col-lg-12">
        <header>
            <h2>Login</h2>
            {% if form.errors %}
                <span class="form-message error">Your username and password didn't match. Please try again.</span>
            {% endif %}
        </header>

        <form method="post" enctype="multipart/form-data" role="form">
            {% csrf_token %}
            <input type="hidden" name="next" value="{% if next %}{{ next }}{% else %}{% url 'home' %}{% endif %}">

            <div class="separator"></div>
            <fieldset class="form-fieldset col-lg-12">
                <legend></legend>
                <div class="form-group col-lg-6 user-fields">
                    {% for field in form %}
                        <div class="form-field col-lg-12 {% if field.field.required %}required-field{% endif %} {% if field.errors %}has-error{% endif %}">
                            <label class="control-label" for="{{ field.id_for_label }}">{{ field.label }}</label> {{ field.errors }}
                            {{ field|add_class:"form-control input-sm" }}
                        </div>
                    {% endfor %}
                    <span class="form-message">Don't have an account? <a href="{% url 'user_registration' %}">Create one here</a>.</span>
                </div>
            </fieldset>
            <div class="col-lg-12">
                <input type="submit" class="btn btn-primary" value="Log in">
            </div>
        </form>
    </section>

{% endblock %}