{% extends "dataloaderinterface/base.html" %}
{% load widget_tweaks staticfiles %}


{% block content %}
    <div class="container-fluid">
        <div class="container main-content">
            <div class="row">
                <section class="page-content login col-lg-12">
            <header>
                {% if form.errors %}
                    <span class="form-message error">Your username and password didn't match. Please try again.</span>
                {% endif %}
            </header>

            <div class="row">
                <div class="col-sm-12 col-md-6 offset-md-3 col-lg-4 offset-lg-4">
                    <br>
                    <br>
                    <div class="panel panel-default panel-login shadow">
                        <div class="panel-heading">
                            <h5 class="panel-title">Log In</h5>
                        </div>
                        <div class="panel-body">
                            <form method="post" enctype="multipart/form-data" role="form">
                                {% csrf_token %}
                                <input type="hidden" name="next"
                                       value="{% if next %}{{ next }}{% else %}{% url 'home' %}{% endif %}">

                                <fieldset class="form-fieldset">
                                    <div class="form-group user-fields">
                                        <div class="form-field required-field ">
                                            {{ form.username|add_class:"form-control input-sm"|attr:"placeholder: Username"|attr:"autofocus" }}
                                        </div>

                                        <div class="form-field required-field ">
                                            {{ form.password|add_class:"form-control input-sm"|attr:"placeholder: Password" }}
                                        </div>
                                    </div>
                                </fieldset>

                                <div class="text-center">
                                    <button type="submit" id="btn-login" value="Log in"
                                            class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent mdl-js-ripple-effect">
                                        Login
                                    </button>
                                </div>

                                <br>
                                <br>
                                <br>
                                <br>

                                <div class="text-center">
                                    <span class="form-message">Don't have an account?</span>
                                    <div><a class="orange" href="{% url 'user_registration' %}">Sign Up</a></div>
                                </div>
                                <br>
                                <div class="text-center">
                                    <div><a class="orange" href="{% url 'password_reset' %}">Forgot Password?</a></div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
            </div>
        </div>
    </div>
    <span id="bg-image" data-image-url="{% static "dataloaderinterface/images/login_bg.jpg" %}" class="hidden"></span>

{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script>
        $(document).ready(function(){
            var path = $("#bg-image").attr("data-image-url");
            $("#wrapper").css('background-image', 'url("' + path + '")');
            $("#wrapper").css('background-size', 'cover');
            $("#wrapper").css('background-repeat', 'no-repeat');
        });
    </script>
{% endblock %}
