{% extends "dataloaderinterface/base.html" %}
{% load widget_tweaks staticfiles %}

{% block title %}Reset Password{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="container main-content">
            <div class="row">
                <section class="page-content login col-lg-12">
                    <header>
                        {% if form.errors %}
                            <span class="form-message error">An error was encountered, please try again.</span>
                        {% endif %}
                    </header>

                    <div class="row">
                        <div class="col-sm-12 col-md-4 offset-md-4">
                            <br>
                            <br>
                            <div class="panel panel-default panel-login shadow">
                                <div class="panel-heading">
                                    <h5 class="panel-title">Account Recovery</h5>
                                </div>
                                <div class="panel-body">

                                    <p>Please specify your email address to receive instructions for resetting it.</p>

                                    <form action="" method="post">
                                        <div style="display:none">
                                            <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
                                        </div>
                                        {{ form.email.errors }}
                                        <fieldset class="form-fieldset">
                                            <div class="form-group user-fields">
                                                <div class="form-field required-field ">
                                                    <p><label for="id_email">E-mail address:</label>
                                                        {{ form.email|add_class:"form-control input-sm"|attr:"placeholder: Email"|attr:"autofocus" }}
                                                    <div class="text-center">
                                                        <button type="submit" id="btn-login" value="Reset password"
                                                                class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent mdl-js-ripple-effect">
                                                            Reset Password
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <span id="bg-image" data-image-url="{% static "dataloaderinterface/images/login_bg.jpg" %}" class="hidden"></span>

{% endblock %}


{% block scripts %}
    {{ block.super }}
    <script>
        $(document).ready(function () {
            var path = $("#bg-image").attr("data-image-url");
            $("#wrapper").css('background-image', 'url("' + path + '")');
            $("#wrapper").css('background-size', 'cover');
            $("#wrapper").css('background-repeat', 'no-repeat');
        });
    </script>
{% endblock %}
