{% extends "dataloaderinterface/base.html" %}
{% load widget_tweaks %}
{% load static %}

{% block content %}
    <section class="page-content user-registration col-lg-12">
        <header>
            {% if messages %}
                {% for message in messages %}
                    <span class="form-message {{ message.tags }}">{{ message }}</span>
                {% endfor %}
            {% endif %}
        </header>

        <div class="row">
            <div class="col-xs-12 col-sm-4 col-sm-offset-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Sign Up</h3>
                    </div>
                    <div class="panel-body">
                        <form method="post" enctype="multipart/form-data" role="form">
                            {% csrf_token %}
                            <fieldset class="form-fieldset">
                                <div class="form-group user-fields">
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-6">
                                            <div class="form-field required-field ">
                                                <label class="control-label" for="id_first_name">Enter a first
                                                    name</label>
                                                <input class="form-control input-sm" id="id_first_name" maxlength="50"
                                                       placeholder="First Name" name="first_name" type="text" required="">
                                            </div>
                                        </div>

                                        <div class="col-xs-12 col-sm-6">
                                            <div class="form-field required-field">
                                                <label class="control-label" for="id_last_name">Enter a last
                                                    name</label>
                                                <input class="form-control input-sm" id="id_last_name" maxlength="50"
                                                       placeholder="Last Name" name="last_name" type="text" required="">
                                            </div>
                                        </div>

                                        <div class="col-xs-12">
                                            <div class="form-field required-field">
                                                <label class="control-label" for="id_email_address">Enter your email
                                                    address</label>
                                                <input class="form-control input-sm" id="id_last_name" maxlength="50"
                                                       placeholder="Email Address" name="email_address" type="text" required="">
                                            </div>
                                        </div>

                                        <div class="col-xs-12">
                                            <div class="form-field required-field">
                                                <label class="control-label" for="id_username">Choose a username</label>
                                                <input autofocus="" class="form-control input-sm" id="id_username"
                                                       maxlength="150" placeholder="Username"  name="username" type="text" required="">
                                            </div>
                                        </div>

                                        <div class="col-xs-12">
                                            <div class="form-field required-field ">
                                                <label class="control-label" for="id_password1">Choose a password</label>
                                                <input class="form-control input-sm" id="id_password1" name="password1"
                                                       placeholder="Password" type="password" required="">
                                            </div>
                                        </div>

                                        <div class="col-xs-12">
                                            <div class="form-field required-field ">
                                                <input class="form-control input-sm" id="id_password2" placeholder="Password Confirmation" name="password2"
                                                       type="password" required="">
                                            </div>
                                        </div>


                                        <div class="col-xs-12">
                                            <div class="form-field  ">
                                                <label class="control-label" for="id_organization">Organization</label>
                                                <select class="form-control input-sm select2-hidden-accessible"
                                                        id="id_organization" name="organization" tabindex="-1"
                                                        aria-hidden="true">
                                                    <option value="" selected="selected">---------</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>

                            <div class="text-center">
                                <input type="submit" class="btn btn-primary" value="Register User">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>


        <div id="organization-dialog" class="modal fade" role="dialog" aria-hidden="true">
            <div class="vertical-alignment-helper">
                <div class="modal-dialog vertical-align-center">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4>New Organization</h4>
                        </div>
                        <div class="modal-body">
                            <div class="form-group col-lg-12 organization-fields">
                                {% for field in organization_form %}
                                    <div class="form-field col-lg-12 {% if field.field.required %}required-field{% endif %} {% if field.errors %}has-error{% endif %}">
                                        <label class="control-label" for="{{ field.id_for_label }}">{{ field.label }}</label> {{ field.errors }}
                                        {{ field|add_class:"form-control input-sm" }}
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button id="new-organization-button" type="button" class="btn btn-primary">Add New Organization</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block services_urls %}
    {{ block.super }}
    <input id="new-organization-api" type="hidden" value="{% url 'organization_service' %}">
{% endblock %}

{% block styles %}
    {{ block.super }}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-theme/0.1.0-beta.6/select2-bootstrap.min.css" rel="stylesheet" />
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.full.min.js"></script>
    <script src="{% static 'dataloaderinterface/js/common-forms.js' %}"></script>
    <script src="{% static 'dataloaderinterface/js/user-form.js' %}"></script>
{% endblock %}