{% extends 'dataloaderinterface/base.html' %}
{% load staticfiles %}
{% load site %}
{% load widget_tweaks %}

{% block page_title %}
    <title>{% if request.resolver_match.view_name == "leafpack:create" %}
        Create Leaf Pack Experiment at {{ sampling_feature_code }}
    {% else %}
        Edit Leaf Pack Experiment at {{ leafpack.site_registration.sampling_feature_name }}
    {% endif %}</title>
{% endblock %}

{% block content %}
    <div class="ribbon ribbon-lightblue"></div>

    <div class="ribbon-container">
        <div class="container ribbon-content mdl-color--white mdl-shadow--4dp">
            <div class="row">
                <div class="col-12">
                    <div class="page-title">
                        {% if request.resolver_match.view_name == "leafpack:create" %}
                            Create Leaf Pack Experiment at {{ sampling_feature_code }}
                        {% else %}
                            Edit Leaf Pack Experiment at {{ leafpack.site_registration.sampling_feature_name }}
                        {% endif %}
                    </div>
                </div>
            </div>
            <form class="form-leafpack" method="POST"
                    {% if request.resolver_match.view_name == "leafpack:create" %}
                  action="{% url 'leafpack:create' sampling_feature_code %}"
                    {% else %}
                  action="{% url 'leafpack:update' sampling_feature_code leafpack.pk %}"
                    {% endif %}>
                {% csrf_token %}
                <div class="row">
                    <div class="col-12">
                        <span class="step-number center-icon">1</span>
                        <h5 class="headline d-inline-block">Enter your leaf pack placement information</h5>
                    </div>
                </div>

                <div class="row step-row">
                    {{ form.site_registration }}
                    <div class="col-sm-12 col-md-6">
                        <div class="mdl-card mdl-shadow--2dp full-width">
                            <div class="mdl-card__title mdl-card--border">
                                Leaf Pack Placement Data
                            </div>
                            <div class="mdl-card__supporting-text default-font">
                                <div class="row">
                                    <div class="form-field col-6">
                                        {{ form.placement_date.errors }}
                                        <label for="{{ form.placement_date.id_for_label }}">{{ form.placement_date.label }}
                                            <input type="text" class="form-control datepicker" value="{{ form.placement_date.value|date_format:'m/d/Y' }}"
                                                   id="id_{{ form.placement_date.name }}" name="{{ form.placement_date.name }}" required>
                                        </label>
                                    </div>

                                    <div class="form-field col-6">
                                        <label for="{{ form.leafpack_placement_count.id_for_label }}">{{ form.leafpack_placement_count.label }}</label>
                                        {{ form.leafpack_placement_count|add_class:"form-control" }}
                                    </div>

                                    <div class="form-field col-6">
                                        <label for="{{ form.placement_air_temp.id_for_label }}" class="control-label">{{ form.placement_air_temp.label }}</label>
                                        {% render_field form.placement_air_temp class="form-control d-inline" placeholder="Unknown" %}
                                        <small>°C</small>
                                    </div>

                                    <div class="form-field col-6">
                                        <label for="{{ form.placement_water_temp.id_for_label }}" class="control-label">{{ form.placement_water_temp.label }}</label>
                                        {% render_field form.placement_water_temp class="form-control d-inline" placeholder="Unknown" %}
                                        <small>°C</small>
                                    </div>

                                    <div class="form-field col-6">
                                        <label for="{{ form.deployment_type.id_for_label }}">{{ form.deployment_type.label }}</label>
                                        {{ form.deployment_type|add_class:"form-control" }}
                                    </div>

                                    <div class="form-field col-6">
                                        <label for="{{ form.content.id_for_label }}">{{ form.content.label }}</label>
                                        {{ form.content|add_class:"form-control" }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br><br>
                    </div>

                    <div class="col-sm-12 col-md-6">
                        <div class="mdl-card mdl-shadow--2dp full-width">
                            <div class="mdl-card__title mdl-card--border">
                                Leaf Pack Type and Composition
                            </div>

                            <div class="mdl-card__supporting-text default-font">
                                <div class="form-field">
                                    {{ form.types.errors }}
                                    {{ form.types }}
                                    <h6 class="title">Other</h6>
                                    <label for="{{ form.types_other.id_for_label }}">
                                        <label for="{{ form.types_other.id_for_label }}">{{ form.types_other.label }}</label>
                                        {{ form.types_other|add_class:"form-control" }}
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <span class="step-number center-icon">2</span>
                        <h5 class="headline d-inline-block">Enter your leaf pack retrieval information</h5>
                    </div>
                </div>

                <div class="row step-row">
                    <div class="col-sm-12 col-md-6">
                        <div class="mdl-card mdl-shadow--2dp full-width">
                            <div class="mdl-card__title mdl-card--border">
                                Leaf Pack Retrieval Data
                            </div>
                            <div class="mdl-card__supporting-text default-font">
                                <div class="row">
                                    <div class="form-field col-6">
                                        {{ form.retrieval_date.errors }}
                                        <label for="{{ form.retrieval_date.id_for_label }}">{{ form.retrieval_date.label }}
                                            <input type="text" class="form-control datepicker" value="{{ form.retrieval_date.value|date_format:'m/d/Y' }}"
                                                   id="id_{{ form.retrieval_date.name }}" name="{{ form.retrieval_date.name }}" required>
                                        </label>
                                    </div>

                                    <div class="form-field col-6">
                                        {{ form.leafpack_retrieval_count.errors }}
                                        <label for="{{ form.leafpack_retrieval_count.id_for_label }}">{{ form.leafpack_retrieval_count.label }}</label>
                                        {{ form.leafpack_retrieval_count|add_class:"form-control" }}
                                    </div>

                                    <div class="form-field col-6">
                                        <label for="{{ form.retrieval_air_temp.id_for_label }}" class="control-label">{{ form.retrieval_air_temp.label }}</label>
                                        {% render_field  form.retrieval_air_temp class="form-control d-inline" placeholder="Unknown" %}
                                        <small>°C</small>
                                    </div>

                                    <div class="form-field col-6">
                                        <label for="{{ form.retrieval_water_temp.id_for_label }}" class="control-label">{{ form.retrieval_water_temp.label }}</label>
                                        {% render_field  form.retrieval_water_temp class="form-control d-inline" placeholder="Unknown" %}
                                        <small>°C</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br><br>
                    </div>

                    <div class="col-sm-12 col-md-6">
                        <div class="mdl-card mdl-shadow--2dp full-width">
                            <div class="mdl-card__title mdl-card--border">
                                Storm and Non-Storm Events
                            </div>
                            <div class="mdl-card__supporting-text default-font form-group">
                                <div class="form-field">
                                    <label for="{{ form.had_storm.id_for_label }}">{{ form.had_storm.label }}</label>
                                    {{ form.had_storm|add_class:"form-control" }}
                                </div>

                                <div id="storm-additional" class="indent-left collapse">
                                    <p class="text-muted">If storms occured, please provide some additional
                                        information:
                                    </p>

                                    <div class="form-field">
                                        <label for="{{ form.storm_count.id_for_label }}">{{ form.storm_count.label }}</label>
                                        {{ form.storm_count|add_class:"form-control" }}
                                    </div>

                                    <div class="form-field">
                                        <label for="{{ form.storm_precipitation.id_for_label }}">{{ form.storm_precipitation.label }}</label>
                                        <br>
                                        {{ form.storm_precipitation|add_class:"form-control d-inline" }}
                                        <small>cm (depth)</small>
                                    </div>
                                </div>

                                <div class="form-field">
                                    <label for="{{ form.had_flood.id_for_label }}">{{ form.had_flood.label }}</label>
                                    {{ form.had_flood|add_class:"form-control" }}
                                </div>

                                <div class="form-field">
                                    <label for="{{ form.had_drought.id_for_label }}">{{ form.had_drought.label }}</label>
                                    {{ form.had_drought|add_class:"form-control" }}
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-12">
                        <span class="step-number center-icon">3</span>
                        <h5 class="headline d-inline-block">Enter your macroinvertebrate count data</h5>
                    </div>
                </div>

                <div class="row step-row">
                    <div class="col-12">
                        <div class="mdl-card mdl-shadow--2dp full-width">
                            <div class="mdl-card__title mdl-card--border" style="display: block;">
                                <div>Macroinvertebrate Counts</div>
                                <small class="text-muted mdl-card__subtitle-text">Enter the numbers you recorded in
                                    the "TOTAL" column in the Project Summary Data Sheet:
                                </small>
                            </div>
                            <div class="mdl-card__supporting-text mdl-card--border">
                                <span>Enter 0 for taxa not found in your leaf packs!</span>
                            </div>
                            <div class="mdl-card__supporting-text mdl-card--border default-font">
                                <div class="row">
                                    <div class="col-sm-12 col-md-6">
                                        {% for forms in taxon_forms %}
                                            {% with parent_form=forms.0 %}
                                                {% if forloop.counter0 <= 7 %}
                                                    {% include 'includes/bug_form.template.html' %}
                                                {% endif %}
                                            {% endwith %}
                                        {% endfor %}
                                    </div>

                                    <div class="col-sm-12 col-md-6">
                                        {% for forms in taxon_forms %}
                                            {% with parent_form=forms.0 %}
                                                {% if forloop.counter0 > 7 %}
                                                    {% include 'includes/bug_form.template.html' %}
                                                {% endif %}
                                            {% endwith %}
                                        {% endfor %}
                                        <br>
                                        {% include 'includes/macroinv-link.template.html' %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <br><br>
                <div class="row">
                    <div class="col">
                        <a class="button-link mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect"
                                {% if leafpack.pk is None %}
                                    href="{% url 'leafpacks' sampling_feature_code %}"
                                {% else %}
                                    href="{% url 'leafpack:view' sampling_feature_code leafpack.id %}"
                                {% endif %}
                        >Cancel</a>
                        <button type="submit" class="mdl-button mdl-button--raised mdl-button--accent">
                            {% if leafpack.pk is None %}
                                Submit
                            {% else %}
                                Save Edits
                            {% endif %}
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block styles %}
    {{ block.super }}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-theme/0.1.0-beta.6/select2-bootstrap.min.css" rel="stylesheet"/>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.full.min.js"></script>
    <script src="{% static 'dataloaderinterface/js/common-forms.js' %}"></script>
    <script src="{% static 'dataloaderinterface/js/leafpack-create.js' %}"></script>
{% endblock %}