{% extends 'dataloaderinterface/base.html' %}
{% load staticfiles %}
{% load site %}
{% load widget_tweaks %}

{% block content %}
    <div class="ribbon ribbon-lightblue"></div>

    <div class="ribbon-container">
        <div class="container ribbon-content mdl-color--white mdl-shadow--4dp">
            <div class="row">
                <div class="col-12">
                    <div class="page-title">
                        Leaf Experiment Details at {{ leafpack.site_registration.sampling_feature_name }}
                    </div>
                </div>
            </div>

            <div class="buttons-toolbar row">
                <div class="col-6">
                    <h5 class="headline">Leaf Pack Details</h5>
                </div>
                <div class="col-6 text-right">
                    <a href="{% url 'leafpack:csv_download' sampling_feature_code leafpack.id %}"
                       class="button-link mdl-button mdl-js-button mdl-button--raised mdl-button--accent mdl-js-ripple-effect">
                        <i class="material-icons center-icon">cloud_download</i> Download CSV
                    </a>

                    <a href="{% url 'leafpack:update' sampling_feature_code leafpack.id %}"
                       id="btn-edit-leaf-exp"
                       class="button-link mdl-button mdl-js-button mdl-button--raised mdl-button--accent mdl-js-ripple-effect">
                        <i class="material-icons center-icon">mode_edit</i> Edit
                    </a>

                    <form class="inline" method="post"
                          action="{% url 'leafpack:delete' sampling_feature_code leafpack.id %}">
                        {% csrf_token %}
                        <button id="btn-del-leaf-exp" type="submit"
                                class="mdl-button mdl-js-ripple-effect mdl-button--raised mdl-button--accent">
                            <i class="material-icons center-icon">delete_forever</i> Delete
                        </button>
                    </form>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 col-md-6">
                    {# <code>{{ leafpack.uuid }}</code> #}
                    <h6 class="title">Placement Information</h6>
                    <hr>
                    <table class="mdl-data-table mdl-js-data-table mdl-data-table-no-hover full-width no-borders">
                        <tr>
                            <td class="mdl-data-table__cell--icon"><i class="fa fa-calendar-plus-o" aria-hidden="true"></i></td>
                            <td class="mdl-data-table__cell--non-numeric">Placement Date</td>
                            <td class="mdl-data-table__cell--non-numeric">{{ leafpack.placement_date }}</td>
                        </tr>
                        <tr>
                            <td class="mdl-data-table__cell--icon"><i class="fa fa-leaf" aria-hidden="true"></i></td>
                            <td class="mdl-data-table__cell--non-numeric">Number of Packs Placed</td>
                            <td class="mdl-data-table__cell--non-numeric">{{ leafpack.leafpack_placement_count }}</td>
                        </tr>
                        <tr>
                            <td class="mdl-data-table__cell--icon"><i class="fa fa-thermometer-three-quarters" aria-hidden="true"></i></td>
                            <td class="mdl-data-table__cell--non-numeric">
                                Placement Air Temperature
                            </td>
                            <td class="mdl-data-table__cell--non-numeric">{{ leafpack.placement_air_temp }}
                                <small class="text-muted">Degrees Celcius</small>
                            </td>
                        </tr>
                        <tr>
                            <td class="mdl-data-table__cell--icon"><i class="fa fa-thermometer-quarter" aria-hidden="true"></i></td>
                            <td class="mdl-data-table__cell--non-numeric">
                                Placement Water Temperature
                            </td>
                            <td class="mdl-data-table__cell--non-numeric">{{ leafpack.placement_water_temp }}
                                <small class="text-muted">Degrees Celcius</small>
                            </td>
                        </tr>
                    </table>
                </div>

                <div class="col-sm-12 col-md-6">
                    <h6 class="title">Leaf Pack Type and Composition</h6>
                    <hr>
                    <p class="text-muted">Predominant Leaf Species:</p>
                    <ul class="mdl-list">
                        {% for lp in leafpack.types.all %}
                            <li class="mdl-list__item">
                            <span class="mdl-list__item-primary-content">
                              {{ lp }}
                            </span>
                            </li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="col-sm-12 col-md-6">
                    <h6 class="title">Retrieval Information</h6>
                    <hr>
                    <table class="mdl-data-table mdl-js-data-table mdl-data-table-no-hover full-width no-borders">
                        <tr>
                            <td class="mdl-data-table__cell--icon"><i class="fa fa-calendar-plus-o" aria-hidden="true"></i></td>
                            <td class="mdl-data-table__cell--non-numeric">Retrieval Date</td>
                            <td class="mdl-data-table__cell--non-numeric">{{ leafpack.retrieval_date }}</td>
                        </tr>
                        <tr>
                            <td class="mdl-data-table__cell--icon"><i class="fa fa-leaf" aria-hidden="true"></i></td>
                            <td class="mdl-data-table__cell--non-numeric">Number of Packs Retrieved</td>
                            <td class="mdl-data-table__cell--non-numeric">{{ leafpack.leafpack_retrieval_count }}</td>
                        </tr>
                        <tr>
                            <td class="mdl-data-table__cell--icon"><i class="fa fa-thermometer-three-quarters" aria-hidden="true"></i></td>
                            <td class="mdl-data-table__cell--non-numeric">Retrieval Air Temperature</td>
                            <td class="mdl-data-table__cell--non-numeric">{{ leafpack.retrieval_air_temp }}
                                <small class="text-muted">Degrees Celcius</small>
                            </td>
                        </tr>
                        <tr>
                            <td class="mdl-data-table__cell--icon"><i class="fa fa-thermometer-quarter" aria-hidden="true"></i></td>
                            <td class="mdl-data-table__cell--non-numeric">Retrieval Water Temperature</td>
                            <td class="mdl-data-table__cell--non-numeric">{{ leafpack.retrieval_water_temp }}
                                <small class="text-muted">Degrees Celcius</small>
                            </td>
                        </tr>
                    </table>
                </div>

                <div class="col-sm-12 col-md-6">
                    <h6 class="title">Storm and Non-Storm Events</h6>
                    <hr>
                    <table class="mdl-data-table mdl-js-data-table mdl-data-table-no-hover full-width no-borders">
                        <tr>
                            <td class="mdl-data-table__cell--non-numeric">Did storms occur while your leaf packs were in
                                the stream?
                            </td>
                            <td class="mdl-data-table__cell--non-numeric">{% if leafpack.had_storm %}Yes{% else %}No{% endif %}</td>
                        </tr>
                        {% if leafpack.had_storm %}
                            <tr>
                                <td class="mdl-data-table__cell--non-numeric indent-left">Number of storms that
                                    occurred
                                </td>
                                <td class="mdl-data-table__cell--non-numeric">{{ leafpack.storm_count }}</td>
                            </tr>
                            <tr>
                                <td class="mdl-data-table__cell--non-numeric indent-left">Total precipitation depth (cm)
                                    that occurred
                                </td>
                                <td class="mdl-data-table__cell--non-numeric">{{ leafpack.storm_precipitation }}</td>
                            </tr>
                        {% endif %}
                        <tr>
                            <td class="mdl-data-table__cell--non-numeric">Did flooding occur?</td>
                            <td class="mdl-data-table__cell--non-numeric">{% if leafpack.had_flood %}Yes{% else %}No{% endif %}</td>
                        </tr>
                        <tr>
                            <td class="mdl-data-table__cell--non-numeric">Was this site experiencing a drought during
                                your experiment?
                            </td>
                            <td class="mdl-data-table__cell--non-numeric">{% if leafpack.had_drought %}Yes{% else %}No{% endif %}</td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <h5 class="headline">Macroinvertebrate Counts</h5>
                </div>
                <div class="col-sm-12 col-md-6">
                    <table class="mdl-data-table mdl-js-data-table mdl-data-table-no-hover full-width">
                        <tr>
                            <th class="mdl-data-table__cell--non-numeric mdl-data-table__header">Taxon</th>
                            <th class="mdl-data-table__header">Tally</th>
                        </tr>
                        {% for bug_data in leafpack_bugs %}
                            {% if forloop.counter0 < 6 %}
                            <tr class="taxon">
                                <td class="mdl-data-table__cell--non-numeric" data-name>
                                    {{ bug_data.0.bug.common_name|capfirst }} ({{ bug_data.0.bug.scientific_name }})
                                </td>
                                <td data-count>{{ bug_data.0.bug_count }}</td>
                            </tr>

                            {% for child_bug in bug_data.1 %}
                                <tr>
                                    <td class="mdl-data-table__cell--non-numeric indent-left">{{ child_bug.bug.common_name|capfirst }} ({{ child_bug.bug.scientific_name }})
                                    </td>
                                    <td>{{ child_bug.bug_count }}</td>
                                </tr>
                            {% endfor %}
                            {% endif %}
                        {% endfor %}
                    </table>
                </div>

                <div class="col-sm-12 col-md-6">
                    <table id="table-macro-extra" class="mdl-data-table mdl-js-data-table mdl-data-table-no-hover full-width">
                        <tr>
                            <th class="mdl-data-table__cell--non-numeric mdl-data-table__header">Taxon</th>
                            <th class="mdl-data-table__header">Tally</th>
                        </tr>
                        {% for bug_data in leafpack_bugs %}
                            {% if forloop.counter0 > 5 %}
                                <tr class="taxon">
                                    <td class="mdl-data-table__cell--non-numeric" data-name>
                                        {{ bug_data.0.bug.common_name|capfirst }} ({{ bug_data.0.bug.scientific_name }})
                                    </td>
                                    <td data-count>{{ bug_data.0.bug_count }}</td>
                                </tr>

                                {% for child_bug in bug_data.1 %}
                                    <tr>
                                        <td class="mdl-data-table__cell--non-numeric indent-left">{{ child_bug.bug.common_name|capfirst }}
                                            ({{ child_bug.bug.scientific_name }})
                                        </td>
                                        <td>{{ child_bug.bug_count }}</td>
                                    </tr>
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    </table>
                </div>

                <div class="col-12">
                    <br><br>
                    <h5 class="headline">Water Quality Index Values</h5>
                </div>

                <div class="col-sm-12 col-md-8">
                    <div class="svg-container mdl-shadow--2dp"></div>
                    <br><br>
                </div>

                <div class="col-sm-12 col-md-4">
                    <div id="legend-container">
                        <table class="mdl-data-table mdl-js-data-table mdl-data-table-no-hover no-borders"></table>
                    </div>
                </div>

                <div class="col-sm-12 col-md-6">
                    <table class="mdl-data-table mdl-js-data-table mdl-data-table-no-hover">
                        <tr>
                            <td class="mdl-data-table__cell--non-numeric">Total Number of Individuals Found</td>
                            <td class="mdl-data-table__cell--non-numeric">{{ leafpack.total_bug_count }}</td>
                        </tr>
                        <tr>
                            <td class="mdl-data-table__cell--non-numeric">Biotic Index</td>
                            <td class="mdl-data-table__cell--non-numeric">{{ leafpack.biotic_index }}</td>
                        </tr>
                        <tr>
                            <td class="mdl-data-table__cell--non-numeric">Water Quality Category</td>
                            <td class="mdl-data-table__cell--non-numeric">{{ leafpack.water_quality }}</td>
                        </tr>
                        <tr>
                            <td class="mdl-data-table__cell--non-numeric">Percent EPT</td>
                            <td class="mdl-data-table__cell--non-numeric">{{ leafpack.percent_EPT }}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block styles %}
    {{ block.super }}
    <link href="{% static 'dataloaderinterface/css/barchart.css' %}" rel="stylesheet"/>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>
    <script src="{% static 'dataloaderinterface/js/barchart.js' %}"></script>
{% endblock %}