{% extends 'dataloaderinterface/base.html' %}
{% load staticfiles %}
{% load site %}
{% load widget_tweaks %}

{% block content %}
<div class="container">
    <h4>Leaf Pack for {{ leafpack.site_registration.sampling_feature_name }}</h4>
    <div class="row">
        <div class="col-6">

                <form class="inline" method="post" action="{% url 'leafpack:delete' sampling_feature_code leafpack.id %}">
                    {% csrf_token %}
                    <button type="submit" class="mdl-button mdl-button--raised mdl-button--accent">Delete</button>
                </form>

                <a href="{% url 'leafpack:update' sampling_feature_code leafpack.id %}"
                   class="mdl-button mdl-button--raised mdl-button--accent">Update</a>

                <a href="{% url 'leafpack:csv_download' sampling_feature_code leafpack.id %}"
                target="_self">Download csv</a>

        </div>

    </div>
    <div class="row">

        <div class="col-6">

            <table class="mdl-data-table leafpack-data-table">
                <tbody>
                    <tr>
                        <td>placement_date</td>
                        <td class="mdl-data-table__cell--non-numeric">{{ leafpack.placement_date }}</td>
                    </tr>
                    <tr>
                        <td>retrieval_date</td>
                        <td>{{ leafpack.retrieval_date }}</td>
                    </tr>
                    <tr>
                        <td>id</td>
                        <td>{{ leafpack.id }}</td>
                    </tr>
                    <tr>
                        <td>leafpack_placement_count</td>
                        <td>{{ leafpack.leafpack_placement_count }}</td>
                    </tr>
                    <tr>
                        <td>leafpack_retrieval_count</td>
                        <td>{{ leafpack.leafpack_retrieval_count }}</td>
                    </tr>
                    <tr>
                        <td>placement_air_temp</td>
                        <td>{{ leafpack.placement_air_temp }}</td>
                    </tr>
                    <tr>
                        <td>placement_water_temp</td>
                        <td>{{ leafpack.placement_water_temp }}</td>
                    </tr>
                    <tr>
                        <td>retrieval_air_temp</td>
                        <td>{{ leafpack.retrieval_air_temp }}</td>
                    </tr>
                    <tr>
                        <td>retrieval_water_temp</td>
                        <td>{{ leafpack.retrieval_water_temp }}</td>
                    </tr>
                    <tr>
                        <td>had_storm</td>
                        <td>{{ leafpack.had_storm }}</td>
                    </tr>
                    <tr>
                        <td>had_flood</td>
                        <td>{{ leafpack.had_flood }}</td>
                    </tr>
                    <tr>
                        <td>had_drought</td>
                        <td>{{ leafpack.had_drought }}</td>
                    </tr>
                    <tr>
                        <td>storm_count</td>
                        <td>{{ leafpack.storm_count }}</td>
                    </tr>
                    <tr>
                        <td>storm_precipitation</td>
                        <td>{{ leafpack.storm_precipitation }}</td>
                    </tr>
                    <tr>
                        <td>types</td>
                        <td>{{ leafpack.types.all|join:", " }}</td>
                    </tr>
                </tbody>
            </table>

            <h4>Water Quality Index Values</h4>
            <table class="mdl-data-table">
                <tbody>
                    <tr>
                        <th>Total Number of Individuals Found</th>
                        <td>{{ leafpack.total_bug_count }}</td>
                    </tr>
                    <tr>
                        <th>Biotic Index</th>
                        <td>{{ leafpack.biotic_index|floatformat:2 }}</td>
                    </tr>
                    <tr>
                        <th>Water Quality Category</th>
                        <td>{{ leafpack.water_quality }}</td>
                    </tr>
                    <tr>
                        <th>Percent EPT</th>
                        <td>{{ leafpack.percent_EPT|floatformat:2 }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-6">
            <table class="mdl-data-table">
            <thead>
            <tr>
                <th>Macroinvertebrate Name</th>
                <th>Count</th>
            </tr>
            </thead>
                <tbody>
                    {% for bug_data in leafpack_bugs %}
                        <tr>
                            <td>{{ bug_data.0.bug.common_name|capfirst }} ({{ bug_data.0.bug.scientific_name }})</td>
                            <td>{{ bug_data.0.bug_count }}</td>
                        </tr>

                        {% for child_bug in bug_data.1 %}
                        <tr>
                            <td>{{ child_bug.bug.common_name|capfirst }} ({{ child_bug.bug.scientific_name }})</td>
                            <td>{{ child_bug.bug_count }}</td>
                        </tr>
                        {% endfor %}

                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
    {{ block.super }}
{% endblock %}