{% extends 'dataloaderinterface/base.html' %}
{% load staticfiles %}
{% load site %}
{% load widget_tweaks %}

{% block content %}
    <div class="container">

        <div class="row">

            <div class="col-sm-6">

                <div class="form-field">
                    <label for="{{ form.placement_date.id_for_label }}">{{ form.placement_date.label }}</label>
                    {{ form.placement_date|add_class:"form-control" }}
                </div>

                <div class="form-field">
                    <label for="{{ form.leafpack_placement_count.id_for_label }}">{{ form.leafpack_placement_count.label }}</label>
                    {{ form.leafpack_placement_count|add_class:"form-control" }}
                </div>

                <div class="form-field">
                    <label for="{{ form.placement_air_temp.id_for_label }}">{{ form.placement_air_temp.label }}</label>
                    {{ form.placement_air_temp|add_class:"form-control" }}
                </div>
                <div class="form-field">
                    <label for="{{ form.placement_water_temp.id_for_label }}">{{ form.placement_water_temp.label }}</label>
                    {{ form.placement_water_temp|add_class:"form-control" }}
                </div>

            </div>

            <div class="col-sm-6">
                <div class="form-field">
                    <label for="{{ form.types.id_for_label }}">{{ form.types.label }}</label>
                    {{ form.types|add_class:"form-control" }}
                </div>
            </div>

        </div>

        <div class="row">

            <div class="col-sm-6">

                <div class="form-field">
                    <label for="{{ form.retrieval_date.id_for_label }}">{{ form.retrieval_date.label }}</label>
                    {{ form.retrieval_date|add_class:"form-control" }}
                </div>

                <div class="form-field">
                    <label for="{{ form.leafpack_retrieval_count.id_for_label }}">{{ form.leafpack_retrieval_count.label }}</label>
                    {{ form.leafpack_retrieval_count|add_class:"form-control" }}
                </div>

                <div class="form-field">
                    <label for="{{ form.retrieval_air_temp.id_for_label }}">{{ form.retrieval_air_temp.label }}</label>
                    {{ form.retrieval_air_temp|add_class:"form-control" }}
                </div>

                <div class="form-field">
                    <label for="{{ form.retrieval_water_temp.id_for_label }}">{{ form.retrieval_water_temp.label }}</label>
                    {{ form.retrieval_water_temp|add_class:"form-control" }}
                </div>

            </div>

            <div class="col-sm-6">
                <div class="form-field">
                    <label for="{{ form.had_storm.id_for_label }}">{{ form.had_storm.label }}</label>
                    {{ form.had_storm|add_class:"form-control" }}
                </div>

                <div class="form-field">
                    <label for="{{ form.storm_count.id_for_label }}">{{ form.storm_count.label }}</label>
                    {{ form.storm_count|add_class:"form-control" }}
                </div>

                <div class="form-field">
                    <label for="{{ form.storm_precipiation.id_for_label }}">{{ form.storm_precipiation.label }}</label>
                    {{ form.storm_precipiation|add_class:"form-control" }}
                </div>

                <div class="form-field">
                    <label for="{{ form.had_flood.id_for_label }}">{{ form.had_flood.label }}</label>
                    {{ form.had_flood|add_class:"form-control" }}
                </div>

                <div class="form-field">
                    <label for="{{ form.had_drought.id_for_label }}">{{ form.had_drought.label }}</label>
                    {{ form.had_drought|add_class:"form-control" }}
                </div>

            </div>

        </div>

        <div class="row">
            <div class="col">
                <h2>Macroinvertebrate Counts</h2>
                <p>Enter the numbers you recorded in the "TOTAL" column in the Project Summary Data Sheet:</p>
                <p>Enter 0 for taxa not found in your leaf packs!</p>
            </div>
{#            <div class="form-field">#}
{#                <label for="{{ form.bugs.id_for_label }}">{{ form.bugs.label }}</label>#}
{#                {{ form.bugs|add_class:"form-control" }}#}
{#            </div>#}
        </div>
        <div class="row">
            {% for field in bug_count_form %}
            <div class="col-6">
                <div class="form-field">
                    <label for="{{ field.bug_count.id_for_label }}">{{ field.bug_count.label }}</label>
                    {{ field.bug_count|add_class:"form-control" }}
                </div>
            </div>
            {% endfor %}
        </div>

    </div>
{% endblock %}