{% extends 'dataloaderinterface/base.html' %}
{% load staticfiles %}
{% load site %}
{% load widget_tweaks %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h4>Leaf Pack for {{ leafpack.site_registration.sampling_feature_name }}</h4>
            <form method="post"
                  action="{% url 'leafpack:delete_leafpack' leafpack.site_registration.sampling_feature_code leafpack.uuid %}">
                {% csrf_token %}
                <button type="submit">Delete</button>

            </form>
            {{ leafpack.uuid }}
            <table class="mdl-data-table leafpack-data-table">
                <tbody>
                    <tr>
                        <td>placement_date</td>
                        <td class="mdl-data-table__cell--non-numeric">{{ leafpack.placement_date }}</td>
                    </tr>
                    <tr>
                        <td>retrieval_date</td>
                        <td>{{ leafpack.retrieval_date }}</td>
                    </tr>
                    <tr>
                        <td>uuid</td>
                        <td>{{ leafpack.uuid }}</td>
                    </tr>
                    <tr>
                        <td>leafpack_placement_count</td>
                        <td>{{ leafpack.leafpack_placement_count }}</td>
                    </tr>
                    <tr>
                        <td>leafpack_retrieval_count</td>
                        <td>{{ leafpack.leafpack_retrieval_count }}</td>
                    </tr>
                    <tr>
                        <td>placement_air_temp</td>
                        <td>{{ leafpack.placement_air_temp }}</td>
                    </tr>
                    <tr>
                        <td>placement_water_temp</td>
                        <td>{{ leafpack.placement_water_temp }}</td>
                    </tr>
                    <tr>
                        <td>retrieval_air_temp</td>
                        <td>{{ leafpack.retrieval_air_temp }}</td>
                    </tr>
                    <tr>
                        <td>retrieval_water_temp</td>
                        <td>{{ leafpack.retrieval_water_temp }}</td>
                    </tr>
                    <tr>
                        <td>had_storm</td>
                        <td>{{ leafpack.had_storm }}</td>
                    </tr>
                    <tr>
                        <td>had_flood</td>
                        <td>{{ leafpack.had_flood }}</td>
                    </tr>
                    <tr>
                        <td>had_drought</td>
                        <td>{{ leafpack.had_drought }}</td>
                    </tr>
                    <tr>
                        <td>storm_count</td>
                        <td>{{ leafpack.storm_count }}</td>
                    </tr>
                    <tr>
                        <td>storm_precipiation</td>
                        <td>{{ leafpack.storm_precipiation }}</td>
                    </tr>
                    <tr>
                        <td>types</td>
                        <td>{{ leafpack.types.all|join:", " }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
    {{ block.super }}
{% endblock %}