{% load widget_tweaks %}
{% load site %}
{% load static %}
<style>
    #hydroshare-settings-dialog {
        max-width: 960px;
    }
</style>

<form method="post" id="hydroshare-settings-form">
    {% csrf_token %}
    <dialog id="hydroshare-settings-dialog">
        {% if resource.id %}
        <h3 class="mdl-dialog__title">Update Settings</h3>
        {% else %}
        <h3 class="mdl-dialog__title">Create Resource</h3>
        {% endif %}

        <div class="mdl-dialog__content">
            {{ form.site_registration.as_hidden }}

{# If resource.id is None, then this resource hasn't been created yet (i.e., don't show option to pause sharing) #}
            {% if resource.id %}
                <div class="row">
                    <div class="col-12">
                        <button class="mdl-button mdl-button--raised mdl-button--accent"
                                id="hs-toggle-sharing-btn"
                                type="button" >
                            {% if form.enabled.value %}Pause Sharing{% else %}Start Sharing{% endif %}
                        </button>

                        <input type="checkbox" name="{{ form.enabled.name }}"
                               value="{{ form.enabled.value }}" id="{{ form.enabled.auto_id }}" hidden>

                    </div>
                </div>
            {% endif %}

            <div class="row">
                <div class="col-12">
                    <h4>{{ form.schedule_type.label }}</h4>
                </div>
                <div class="row col-12">
                    <div class="col-lg-6 col-md-6 col-12">
                        {{ form.schedule_type.errors }}
                        {{ form.schedule_type }}
                    </div>

                    <div class="col-lg-6 col-md-6 col-12">
                        <div class="form-group">
                            <label for="{{ form.update_freq.id_for_label }}" style="width: 100%;">
                            {{ form.update_freq|add_class:"form-control" }}
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <h4>{{ form.data_types.label }}</h4>
                    <span id="id_{{ form.data_types.name }}"></span>
                    {% for checkbox in form.data_types %}
                    <label class="mdl-checkbox mdl-js-checkbox" for="{{ checkbox.id_for_label }}">
                        {{ checkbox.tag|add_input_class:"mdl-checkbox__input" }}
                        <span class="mdl-checkbox__label">{{ checkbox.choice_label }}</span>
                    </label>
                    {% endfor %}
                </div>
            </div>


            {% if not resource.id %}

{#                Resource Title#}
            <div class="row">
                <h4 class="col-12" style="margin-bottom: 0;">{{ form.title.label }}</h4>
                <div class="col-12">
                    <div class="mdl-textfield mdl-js-textfield" style="width: 100%;">
                        {{ form.title|add_class:'mdl-textfield__input' }}
{#                        <label class="mdl-textfield__label" for="{{ form.title.id_for_label }}">{{ form.title.label }}</label>#}
                    </div>
                </div>
            </div>

{#                Resource Abstract#}
            <div class="row">
                <h4 class="col-12" style="margin-bottom: 0;">{{ form.abstract.label }}</h4>
                <div class="col-12">
                    <div class="mdl-textfield mdl-js-textfield" style="width:100%;">
                        {{ form.abstract|add_class:"mdl-textfield__input" }}
{#                    <label class="mdl-textfield__label" for="{{ form.abstract.id_for_label }}">{{ form.abstract.label }}</label>#}
                    </div>
                </div>
            </div>

            {% endif %}

        </div>

        <div class="mdl-dialog__actions">
            <input type="submit"
            {% if resource.id %}
                   value="Save"
                   id="update-resource"
            {% else %}
                   value="Start Sharing"
                   id="create-resource"
            {% endif %}
                   class="mdl-button mdl-button--raised mdl-button--accent"/>

            <button type="button" class="mdl-button mdl-button--raised close">Cancel</button>

            <div class="mdl-spinner mdl-spinner--single-color mdl-js-spinner" id="hydroshare-progress-spinner"></div>

        </div>
    </dialog>
</form>
