{% extends "dataloaderinterface/base.html" %}

{% block content %}

<div class="container">
    <table class="table">
    {% for hsuser in hs_users %}
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Account Nickname</th>
                <!--<th scope="col"></th>-->
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>
                    <form>
                        <div class="form-group">
                            <input type="text" class="form-control" value="{{ hsuser.account_nickname|capfirst }}" placeholder="Account Nickname">
                        </div>
                    </form>
                </td>
                <!--<td>-->
                    <!--<button class="mdl-button mdl-button&#45;&#45;raised mdl-button&#45;&#45;accent" type="button">-->
                        <!--<i class="material-icons">mode_edit</i>-->
                        <!--<span>Edit</span>-->
                    <!--</button>-->
                <!--</td>-->
                <!--#FF5852-->
                <td>
                    <button class="mdl-button mdl-button--raised mdl-color--red mdl-color-text--white" type="button">Deauthorize</button>
                </td>
            </tr>
        </tbody>
    {% endfor %}
    </table>

</div>

{% endblock %}