{% load widget_tweaks %}
{% load site %}
{% load static %}
<style>
    #hydroshare-settings-dialog {
        width: 680px;
    }
    .mdl-spinner-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 0;
    }
    .mdl-spinner-container > .mdl-spinner {
        position: absolute;
        top: 8px;
    }
</style>

<form method="post" id="hydroshare-settings-form">
    {% csrf_token %}
    <dialog id="hydroshare-settings-dialog">
        <div class="mdl-spinner-container">
            <div class="mdl-spinner mdl-spinner--single-color mdl-js-spinner" id="hydroshare-progress-spinner"></div>
        </div>
        <h3 class="mdl-dialog__title">Create Resource</h3>

        <div class="mdl-dialog__content">
            {{ form.site_registration.as_hidden }}
{#            <i class="fa fa-info-circle" aria-hidden="true"></i>#}

            {% if resource.id %}
            {# If resource.id is None, then this resource hasn't been created yet and `enabled` should be True by default #}
            <div class="row">
                <div class="col-12">
                    <label class="mdl-checkbox mdl-js-checkbox" for="{{ form.enabled.id_for_label }}">
                        {{ form.enabled|add_class:"mdl-checkbox__input" }}
                        <span class="mdl-checkbox__label">{{ form.enabled.label }}</span>
                    </label>
                </div>
            </div>
            {% endif %}

            <h4>Update Frequency</h4>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-12">
                    {{ form.schedule_type.errors }}
                    {{ form.schedule_type }}
                </div>

                <div class="col-lg-6 col-md-6 col-12">
                    <div class="form-group">
                        <label for="{{ form.update_freq.id_for_label }}" style="width: 100%;">
                        {{ form.update_freq|add_class:"form-control" }}
                        </label>
                    </div>
                </div>
            </div>

            <h4>Data Types</h4>
            <div class="row">
                <div class="col-12">
                    {% for checkbox in form.data_types %}
                        <label class="mdl-checkbox mdl-js-checkbox" for="{{ checkbox.id_for_label }}">
                            {{ checkbox.tag|add_input_class:"mdl-checkbox__input" }}
                            <span class="mdl-checkbox__label">{{ checkbox.choice_label }}</span>
                        </label>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="mdl-dialog__actions">
            <input type="submit"
            {% if resource.id %}
                   value="Save"
                   id="update-resource"
            {% else %}
                   value="Start Sharing"
                   id="create-resource"
            {% endif %}
                   class="mdl-button mdl-button--raised mdl-button--accent"/>

            <button type="button" class="mdl-button mdl-button--raised close">Cancel</button>

        </div>
    </dialog>
</form>
