<table class="mdl-data-table mdl-js-data-table full-width">
{% for hsuser in hs_users %}
    <thead>
        <tr>
            <th class="mdl-data-table__cell">#</th>
            <th class="mdl-data-table__cell--non-numeric">Account Nickname</th>
            <th class="mdl-data-table__cell--non-numeric"></th>
            <th class="mdl-data-table__cell--non-numeric"></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th class="mdl-data-table__cell">{{ forloop.counter }}</th>
            <td class="mdl-data-table__cell-non-numeric">
                <form>
                    <div class="form-group">
                        <input type="text" class="form-control" value="{{ hsuser.account_nickname|capfirst }}" placeholder="Account Nickname">
                    </div>
                </form>
            </td>
            <!--<td>-->
                <!--<button class="mdl-button mdl-button&#45;&#45;raised mdl-button&#45;&#45;accent" type="button">-->
                    <!--<i class="material-icons">mode_edit</i>-->
                    <!--<span>Edit</span>-->
                <!--</button>-->
            <!--</td>-->
            <!--#FF5852-->
            <td class="mdl-data-table__cell--non-numeric">
                <button class="mdl-button mdl-button--raised mdl-color--red mdl-color-text--white" type="button">Deauthorize</button>
            </td>
        </tr>
    </tbody>
{% endfor %}
</table>
