
{% extends 'dataloaderinterface/base.html' %}

{% block content %}


    <style>
        .resource-container {

        }
        .resource-container > table {
            table-layout: fixed;
            margin: 0;
            width: 100%;
        }
        table > tbody > tr > td {
            -ms-word-wrap: break-word;
            word-wrap: break-word;
            overflow: hidden;
        }
    </style>

    <div class="resource-container container">
        <div class="page-header">
            <h3>Resource List <small>HydroShare</small></h3>
        </div>
{#        <h3>HydroShare Resource List</h3>#}
        <br>
        <table id="resource-table" class="mdl-data-table mdl-js-data-table">
            <thead>
            <tr id="res-header-row">
                <th>Header 1</th>
            </tr>
            </thead>
            <tbody id="res-table-body">
                <tr>
                    <td>data 1</td>
                </tr>
            </tbody>
        </table>
    </div>

{% endblock %}

{% block scripts %}
{{ super.block }}
<script>
    const cellClassName = "mdl-data-table__cell--non-numeric";

    let resources = '{{ resources_json }}'.replace(/\&quot;/g, '"');
    resources = JSON.parse(resources);
    console.log(resources);

    deleteResourceByValue(resources, 'public', false);
    deleteKeysFromResource(resources, ['resource_id', 'immutable', 'coverages', 'public', 'discoverable', 'published',
        'resource_map_url', 'resource_url', 'science_metadata_url', 'shareable', 'bag_url']);

    function buildTable() {
        let keys = Object.keys(resources[0]).sort();
        let headers = orderKeysBy(keys, ['resource_title', 'creator', 'date_created']);
        buildTableHeaderRow(headers);
        buildTableBody(headers);
    }

    function buildTableHeaderRow(headers) {
        const tableHeaderRow = document.getElementById('res-header-row');
        let innerHTML = '';
        for (let header of headers) {
            header = formatHeader(header);
            innerHTML += `<th class="${cellClassName}">${header}</th>`;
        }
        tableHeaderRow.innerHTML = innerHTML;

        function formatHeader(header) {
            return header.split('_').map(function (value) {
                return value.charAt(0).toUpperCase() + value.slice(1);
            }).join(' ');
        }
    }

    function buildTableBody(headers) {
        const tableBody = document.getElementById('res-table-body');
        tableBody.innerHTML = "";
        let innerHTML = "";
        for (let resource of resources) {
            innerHTML += `<tr>`;
            for (let header of headers) {
                let innerRowHTML = resource[header];
                if (typeof innerRowHTML === 'string' && innerRowHTML.match(/http:\/\//)) {
                    if (innerRowHTML.match(/\.zip/)) {
                        innerRowHTML = `<a href=${innerRowHTML}>Download .zip</a>`;
                    } else if (innerRowHTML.match(/\/hsapi\/resource\/\S{32}\/map\/$/i)) {
                        innerRowHTML = `<a href=${innerRowHTML}>Map</a>`;
                    } else if (innerRowHTML.match(/\/resource\/\S{32}\/$/i)) {
                        innerRowHTML = `<a href=${innerRowHTML}>Resource</a>`;
                    } else if (innerRowHTML.match(/\/hsapi\/resource\/\S{32}\/scimeta\/$/i)) {
                        innerRowHTML = `<a href=${innerRowHTML}>Metadata</a>`;
                    }
                } else if (Array.isArray(innerRowHTML) && innerRowHTML.length) {
                    innerRowHTML = `<code>${innerRowHTML}</code>`;
                }
                innerHTML += `<td class="${cellClassName}">${innerRowHTML}</td>`;
            }
            innerHTML += `</tr>`;
        }
        tableBody.innerHTML = innerHTML;
    }

    /**
     * Deletes key-value pairs from resources that match the given keys
     * @param: resources {object}: An array of resource objects
     * @param: keys {Array}: An array of keys to delete from 'resources'
     */
    function deleteKeysFromResource(resources, keys) {
        for (let res of resources) {
            for (let key of keys) {
                delete res[key];
            }
        }
    }

    /**
     * Deletes resources that contain the given key-value pair
     * @param resources {Array}
     * @param key {string}
     * @param value {string}
     */
    function deleteResourceByValue(resources, key, value) {
        let deleteIndexStack = [];
        for (let index in resources) {
            let resource = resources[index];
            if (resource[key] === value) {
                deleteIndexStack.push(index);
            }
        }
        for (let index in deleteIndexStack) {
            resources.splice(index, 1);
        }
        return resources;
    }

    function orderKeysBy(keys, orderedBy) {
        let orderedKeys = keys.slice(0).sort();
        orderedBy.reverse();
        for (let key of orderedBy) {
            let index = orderedKeys.indexOf(key);
            if (index > -1) {
                orderedKeys.splice(orderedKeys.indexOf(key), 1);
                orderedKeys.unshift(key);
            }
        }
        return orderedKeys;
    }

    buildTable();

</script>
{% endblock %}