
{% extends 'dataloaderinterface/base.html' %}

{% block content %}

<style>

</style>

<table id="resource-table" class="mdl-data-table mdl-js-data-table">
    <thead>
    <tr id="res-header-row">
        <th>Header 1</th>
    </tr>
    </thead>
    <tbody id="res-table-body">
        <tr>
            <td>data 1</td>
        </tr>
    </tbody>
</table>

{% endblock %}

{% block scripts %}
{{ super.block }}
<script>
    resources = '{{ resources_json }}'.replace(/\&quot;/g, '"');
    resources = JSON.parse(resources);
    console.log(resources);
    function buildTable() {
        const cellClassName = "mdl-data-table__cell--non-numeric";

        let keys = Object.keys(resources[0]).sort();
        keys.splice(keys.indexOf('resource_id'), 1);
        keys.unshift('resource_id');
        keys.splice(keys.indexOf('immutable'), 1);

        console.log(`keys after sorting:`, keys);

        let tableHeaderRow = document.getElementById('res-header-row');
        let headerRowHTML = '';
        for (let key of keys) {
            let header = key.split('_').map(function (value) {
                return value.charAt(0).toUpperCase() + value.slice(1);
            }).join(' ');
            headerRowHTML += `<th class="${cellClassName}">${header}</th>`;
        }
        tableHeaderRow.innerHTML = headerRowHTML;

        tableBody = document.getElementById('res-table-body');
        tableBody.innerHTML = "";
        for (let resource of resources) {
            bodyRowHTML = `<tr>`;
            for (let key of keys) {
                let innerHTML = resource[key];
                if (typeof innerHTML === 'string' && innerHTML.match(/http:\/\//)) {
                    innerHTML = `<a href=${innerHTML}>link</a>`
                } else if (Array.isArray(innerHTML) && innerHTML.length) {
                    innerHTML = `<code>${innerHTML}</code>`;
                }
                bodyRowHTML += `<td class="${cellClassName}">${innerHTML}</td>`;
            }
            bodyRowHTML += `</tr>`;
            tableBody.innerHTML += bodyRowHTML;
        }
    }

    buildTable();

</script>
{% endblock %}