<aside>
    <a class="link-card" href="http://macroinvertebrates.org"
       target="_blank">
        <div class="mdl-card mdl-shadow--2dp mdl-js-ripple-effect">
            <span class="mdl-ripple"></span>
            <div class="row">
                <div class="col-12">
                    <i class="link-card-icon material-icons icon-blue">info</i>
                    <div>
                        <h5 class="link-card-title">Aquatic
                            Macroinvertebrate Collection</h5>
                        <p class="text-muted">
                            http://macroinvertebrates.org</p>
                    </div>
                </div>
                <div class="col-6">
                    <small class="text-muted">Related Link</small>
                </div>
                <div class="col-6 text-right">
                    <i class="material-icons text-muted">link</i>
                </div>
            </div>
        </div>
    </a>
</aside>