{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        {% block title %}
        <title></title>
        {% endblock %}
        {% block scripts %}{% endblock %}
        <link rel="stylesheet" href="{% static 'css/reset.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body>
        <div id="" class="">
            <a href="" class=""></a>
        </div>


        <div id="main" class="fix-width">
            <div id="content">
                {% block content %}
                {% endblock %}
            </div>
        </div>

        <footer class="fix-width">
            <hr>
            <p>

            </p>
        </footer>

    </body>
</html>

