{% extends 'dataloaderinterface/base.html' %}

{% block content %}
    <section class="devices-list">
        <header>
            <h2>List of registered devices for {{ user }}</h2>
        </header>
        <table>
            <thead>
            <tr>
                <th></th>
{#                <th></th>#}
{#                <th></th>#}
            </tr>
            </thead>
            <tbody>
                {% for featureaction in object_list %}
                    <tr>
{#                        <td><a href="{% url detail_url concept.term %}">{{ concept.term }}</a></td>#}
{#                        <td>{{ concept.name }}</td>#}
                        <td>{{ featureaction }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
</section>
{% endblock %}
