{% extends 'dataloaderinterface/base.html' %}
{% load formset_tags %}
{% load bootstrap %}
{% load staticfiles %}

{% block content %}
    <section class="device-data col-xs-6">
        <header>
            <h2>Device Registration</h2>
        </header>
        {% if messages %}
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        {% endif %}

        <form method="post" enctype="multipart/form-data" class="form-horizontal form-group-sm" role="form">
            {% csrf_token %}
            <fieldset class="clearfix form-fieldset">
                <legend>Sampling Feature</legend>
                {{ sampling_feature_form|bootstrap_horizontal }}
            </fieldset>

            <fieldset class="clearfix form-fieldset">
                <legend>Deployment</legend>
                {{ action_form|bootstrap_horizontal }}
                {{ people_form|bootstrap_horizontal }}
                {{ action_by_form|bootstrap_horizontal }}
                {{ organization_form|bootstrap_horizontal }}
                {{ affiliation_form|bootstrap_horizontal }}
            </fieldset>

            <fieldset class="clearfix form-fieldset">
                <legend>Results</legend>
                <div id="formset" data-formset-prefix="{{ results_formset.prefix }}">
                    {{ results_formset.management_form }}

                    <div data-formset-body>
                        <!-- New forms will be inserted in here -->
                        {% for form in results_formset %}
                            <div class="result-form" data-formset-form>
                                {{ form|bootstrap_horizontal }}
                            </div>
                        {% endfor %}
                    </div>

                    <!-- The empty form template. By wrapping this in a <script> tag, the
                    __prefix__ placeholder can easily be replaced in both attributes and
                    any scripts -->
                    <script type="form-template" data-formset-empty-form>
                        {% escapescript %}
                            <div class="result-form" data-formset-form>
                                {{ results_formset.empty_form|bootstrap_horizontal }}
                            </div>
                        {% endescapescript %}
                    </script>
                    <input type="button" value="Add result" class="btn btn-default" data-formset-add>
                </div>
            </fieldset>
            <input type="submit" value="Register Device" class="btn btn-primary">
        </form>
    </section>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="{% static 'js/jquery.formset.js' %}"></script>
    <script type="application/javascript">
        $(document).ready(function() {
            $("#formset").formset({
                animateForms: true
            });
        });
    </script>
{% endblock %}
