{% extends 'dataloaderinterface/base.html' %}

{% block content %}
    <section class="home-content">
        <header>
            <h2>This is the home page!</h2>
        </header>

        {% if user.is_authenticated %}
            <a href="{% url 'logout' %}">hey! here's cool logout link!</a>
        {% else %}
            <a href="{% url 'login' %}">hey! here's cool login link!</a> OR
            <a href="{% url 'user_registration' %}">CLICK ON THIS AMAZING REGISTRATION LINK!</a>

        {% endif %}

    </section>
    {% if user.is_authenticated %}
        <section class="user-info">
            <header>
                <h3>User info</h3>
            </header>
        </section>
        <section class="devices-info">
            <header>
                <h3>Devices info - comprehensive list of registered devices</h3>
            </header>
            <div class="devices-list">
                <a href="{% url 'devices_list' %}">click here to go to the actual list of devices</a>
            </div>
        </section>
        <section class="recent-results">
            <header>
                <h3>Recent Results - list of last 5-10 time series result values pushed by any device. maybe? not necessary, but would be cool.</h3>
            </header>
        </section>
    {% endif %}
{% endblock %}
