#map {
    height: 100%;
    background: #e8e8e8;
}

.map-container {
    height: 100%;
}

.full-height {
    height: 100%;
}

#filters {
    overflow-y: scroll;
}

#filters label {
    display: table-cell;
    padding-right: 40px;
}

#filters .badge {
    position: absolute;
    right: 24px;
    top: 16px;
    width: 24px;
}

.filter-header td {
    background: #f2f2f2;
}

.filter-header {
    margin-top: 20px;
}

.filter-header h6 {
    margin: 0;
}

#filters .filter-header h6 > i.material-icons {
    vertical-align: middle;
}

a[data-toggle='collapse'][aria-expanded='false'] i:last-child {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    transition: all 0.3s;
}

a[data-toggle='collapse']:not([aria-expanded='false']) i:last-child {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    transition: all 0.3s;
}

.page-title {
    margin: 12px 0;
    display: inline-block;
}

.subtitle {
    vertical-align: middle;
    display: inline-block;
    line-height: normal;
}

.page-title, .subtitle {
    text-shadow: 0 1px 0 #000;
    color: #FFF;
}

#map {
    border: 0;
}