.device-details {
    display: inline-block;
    overflow: auto;
    height: 45px;
    padding-top: 7px;
    padding-left: 7px;
    width: 500px;
    border: groove gainsboro;
    border-right-width: 2px;
    text-underline: None;
    text-align: left;
    font-size: 18px;
    -webkit-text-fill-color: black;
    -moz-text-decoration-color: black;
    text-decoration: none;
    list-style-type: none;
}

.plot-preview-toggle {
    /*margin-left: -2px;*/
    display: inline-block;
    overflow: auto;
    height: 45px;
    padding: 0;
    border: groove gainsboro;
    border-left-width: 2px;
    width: auto;
    text-underline: None;
    text-align: center;
    font-size: 18px;
    -webkit-text-fill-color: black;
    -moz-text-decoration-color: black;
    text-decoration: none;
    list-style-type: none;
}

li.device_preview {
    margin: 5px;
    width: 650px;
    -webkit-text-fill-color: black;
    -moz-text-decoration-color: black;
    text-decoration: none;
    list-style-type: none;
}

.hover-grey {
    display: inline-block;
    -webkit-transition: border 500ms;
    -moz-transition: border 500ms;
    -o-transition: border 500ms;
    transition: border 500ms;
    -webkit-transition: background-color 500ms;
    -moz-transition: background-color 500ms;
    -o-transition: background-color 500ms;
    transition: background-color 500ms;
}

.hover-grey:hover, .hover-grey:active {
    border: solid 2px #DDD;
    background-color: #DDD;
}

li.device_preview:hover, li.device_preview:active {
    border-color: rgba(59, 117, 183, 0.57);
    list-style-type: none;
}

.float-left {
    display: block;
    position: relative;
    float: left
}

.float-right {
    display: block;
    position: relative;
    float:right;
}

a.li_link {
    width: 100%;
    min-width: 400px;
    padding: 5px;
    text-underline: None;
    font-size: 18px;
    border-color: gainsboro;
    -webkit-text-fill-color: black;
    -moz-text-decoration-color: black;
    line-height: 23px;
    display: inline-block;
    text-decoration: none;
}


ul.device-list {
    display: inline-block;
    list-style-type: none;
    padding: 5px;
    width: 100%;
    margin: 7px;
}

#space {
    height: 40px;
    width: 100%;
}

img.small-icon {
    width: 25px;
    margin: 10px;
}

.spark-preview {
    margin: 10px;
    display: none;
    width: 50%;
}

.darkly-fonted {
    -webkit-text-fill-color: black;
    -moz-text-decoration-color: black;
}
