
h2.device {
    /*position: fixed;*/
    top: 10%;
    left: 15%;
    width: 100%;
    padding: 10px;
    margin: 5px;
    /*box-shadow: 2px 3px 5px rgba(100, 100, 100, 0.75);*/
}

li.device_item {
    padding: 10px 10px 30px;
    width: 100%;
    border: groove gainsboro;
    list-style-type: none;
}

li.device_item:hover, li.device_item:active {
    background-color: gainsboro;
    list-style-type: none;
}

#device_name {
    position: relative;
    float: left
}

#device_reg {
    position: relative;
    float:right;
}

a.li_link {
    width: 100%;
    min-width: 400px;
    padding: 5px;
    text-underline: None;
    font-size: 18px;
    border-color: gainsboro;
    -webkit-text-fill-color: black;
    -moz-text-decoration-color: black;
    line-height: 23px;
    display: inline-block;
    text-decoration: none;
}


ul.device_list {
    display: inline-block;
    list-style-type: none;
    padding: 5px;
    width: 100%;
    margin: 5px;
}

#space {
    height: 40px;
    width: 100%;
}
