#banner {
    width: 100%;
    margin-bottom: -120px;
}

.legend-container {
    width: 100%;
    height: 440px;
    color: #FFF;
    text-shadow: 1px 1px #4E4E4E;
    position: absolute;
    background: rgba(0, 0, 0, 0.25);
}

.banner-legend {
    width: 100%;
    top: calc(50% - 132px);
}

#banner-image-container {
    width: 100%;
    height: 500px;
}

#banner a {
    transition: all 0.2s ease;
}

.step-number {
    display: inline-block;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding-top: 5px !important;
    padding-left: 13px !important;
    position: absolute;
    top: -23px;
    left: calc(50% - 20px);
    box-shadow: 0 1px 1.5px 0 rgba(0,0,0,.12), 0 1px 1px 0 rgba(0,0,0,.24);
    background-color: #65cbcb;
    color: #FFF;
}

.step-icon {
    font-size: 6em !important;
    text-shadow: 0 1px 0 #151d21;
    width: 100%;
    padding: 30px;
    color: #FFF;
    background: #37474f;
    border-radius: 2px 2px 0 0;
}

.content-section > .container {
    background-color: #FFF;
    position: relative;
    padding-top: 80px;
    padding-bottom: 80px;
}

.content-section {
    padding: 40px 0;
}

.section-gray {
    background-color: #37474f;
    color: #FFF;
}

.section-gray a {
    text-decoration: none;
}

.logos-row {
    padding: 12px;
    background: rgba(0, 0, 0, 0.54);
    border: 1px solid #252525;
    margin: 0;
}

.section-gray h1, .section-gray h3, .banner-legend h1, .banner-legend h3 {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    text-shadow: 1px 1px #4E4E4E;
    font-weight: 300;
}

.section-title {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 34px;
    font-weight: 400;
    line-height: 40px;
}

.section-image {
    width: 100%;
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 60px;
}

.explore-image-container {
    min-height: 68px;
    width: 100%;
    background: #37474f;
    text-align: center;
    padding: 10px;
}

div.image-container {
    width: 100%;
    background-size: cover !important;
    background-repeat: no-repeat !important;
}

.visit-link {
    position: absolute;
    bottom: 0;
}

.visit-link a {
    color: #336666;
}

.card-header-image {
    width: 100%;
}

.row-eq-height {
    display: flex;
}

.row-eq-height .card {
    width: 100%;
    box-shadow: none;
}

h4 {
    font-size: 18px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 300;
}

@media only screen and (min-width: 768px) {
    .card-border-left {
        border-radius: 0;
        border-left: 1px solid #DDD;
    }
}
