#banner {
    width: 100%;
}

.legend-container {
    width: 100%;
    height: 300px;
    color: #FFF;
    text-shadow: 1px 1px #4E4E4E;
    position: absolute;
    background: rgba(0, 0, 0, 0.25);
}

.banner-legend {
    position: absolute;
    width: 100%;
    top: calc(50% - 80px);
}

#banner-image-container {
    width: 100%;
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 80%;
}

.step-number {
    display: inline-block;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
    padding-top: 8px;
    position: absolute;
    top: -40px;
    left: calc(50% - 20px);
    box-shadow: 0 1px 1.5px 0 rgba(0,0,0,.12), 0 1px 1px 0 rgba(0,0,0,.24);
    background: #2687da;
    color: #FFF;
}

.step-icon {
    font-size: 8em !important;
    text-shadow: 0 1px 0 #151d21;
    width: 100%;
    padding-top: 20px;
    color: #FFF;
    background: #37474f;
    border-radius: 2px 2px 0 0;
}

.step-item {
    border-radius: 2px;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .14), 0 3px 3px -2px rgba(0, 0, 0, .2), 0 1px 8px 0 rgba(0, 0, 0, .12);
    margin-bottom: 50px;
}

.step-item h4 {
    padding:20px;
}

.content-section {
    padding: 40px 0;
}

.section-gray {
    background-color: #37474f;
    color: #FFF;
}

.section-gray a {
    color: #64ffda;
}

.section-gray a:hover {
    color: #00bfa5;
    text-decoration: none;
}

.section-gray h1, .section-gray h3, .banner-legend h1, .banner-legend h3 {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 200;
}

.section-title {
    opacity: .54;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 34px;
    font-weight: 400;
    line-height: 40px;
    margin-bottom: 40px;
}