
body {
    font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
}

.content > section > header > h2 { /* maybe give the headers a class and use that instead of this */
    font-size: 25px;
    margin-bottom: 0;

}

header.header-container {
    position: relative;
    display: inline-block;
    clear: both;
    width: 100%;
}

.nav-item {
    margin: 0 25px;
}

.header-container nav a {
    color: #fff;
    font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
}

header.main-header {
    height: 80px;
    background-color: #222222;
}

header.secondary-header {
    position: relative;
    height: 30px;
    font-size: 12px;
    font-weight: 400;
    width: 100%;
}

.secondary-navigation {
    background-color: rgba(59, 79, 107, 0.63);
    position: relative;
    height: 100%;
    padding: 0 20px;
}

.secondary-navigation:before, .secondary-navigation:after {
    content: '';
    position: absolute;
    bottom: 0;
    border-top: 30px solid transparent;
}

.secondary-navigation:before {
    left: 0;
    border-left: 30px solid white;
}

.secondary-navigation:after {
    right: 0;
    border-right: 30px solid white;
}

.secondary-navigation a {
    line-height: 30px;
    font-weight: 500;
}

.main-container {
    width: 1460px;
    margin: 0 auto;
    z-index: 1;
    padding: 0 20px;
}

div#content-wrapper .main-container {
    margin: 20px auto;
}

nav.main-navigation {
    height: 100%;
}

nav.main-navigation a {
    font: normal 300 16px "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
    line-height: 16px;
    float: left;
    margin-left: 30px;
    position: relative;
    display: inline-block;
    padding: 31px 0;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
}

nav.main-navigation a:hover {
    border-bottom: 5px solid #fff;
    color: #afc0c6;
}

.main-header .logo {
    display: inline-block;
    width: auto;
    line-height: 0;
    position: relative;
    padding: 13px 0;
    border: none;
}

.small-text {
    font-size: small;
    margin-bottom: 100px;
}

/* General Rules */
.left {
    position: relative;
    float: left;
}

.right {
    position: relative;
    float: right;
}


/* Defaults */
img {
    max-width: 100%;
    height: auto;
}

a, a:hover {
    text-decoration: none;
}


/* Media Queries */
@media only screen and (max-width: 1460px) {
    .main-container {
        width: 1320px;
    }
}

@media only screen and (max-width: 1320px) {
    .main-container {
        width: 1260px;
    }
}

@media only screen and (max-width: 1260px) {
    .main-container {
        width: 1120px;
    }
}

@media only screen and (max-width: 1120px) {
    .main-container {
        width: 1082px;
    }
}


/*#wrapper {*/
    /*padding-left: 0;*/
/*}*/

/*#wrapper.toggled {*/
    /*padding-left: 250px;*/
/*}*/

/*#sidebar-wrapper {*/
    /*z-index: 1000;*/
    /*position: fixed;*/
    /*left: 250px;*/
    /*width: 0;*/
    /*height: 100%;*/
    /*margin-left: -250px;*/
    /*overflow-y: auto;*/
    /*background: #000;*/
/*}*/

/*#wrapper.toggled #sidebar-wrapper {*/
    /*width: 250px;*/
/*}*/

/*#page-content-wrapper {*/
    /*width: 100%;*/
    /*position: absolute;*/
    /*padding: 15px;*/
/*}*/

/*#wrapper.toggled #page-content-wrapper {*/
    /*position: absolute;*/
    /*margin-right: -250px;*/
/*}*/

/*!* Sidebar Styles *!*/

/*.sidebar-nav {*/
    /*position: absolute;*/
    /*top: 0;*/
    /*width: 250px;*/
    /*margin: 0;*/
    /*padding: 0;*/
    /*list-style: none;*/
/*}*/

/*.sidebar-nav li {*/
    /*text-indent: 20px;*/
    /*line-height: 40px;*/
/*}*/

/*.sidebar-nav li a {*/
    /*display: block;*/
    /*text-decoration: none;*/
    /*color: #999999;*/
/*}*/

/*.sidebar-nav li a:hover {*/
    /*text-decoration: none;*/
    /*color: #fff;*/
    /*background: rgba(255, 255, 255, 0.2);*/
/*}*/

/*.sidebar-nav li a:active,*/
/*.sidebar-nav li a:focus {*/
    /*text-decoration: none;*/
/*}*/

/*.sidebar-nav > .sidebar-brand {*/
    /*height: 65px;*/
    /*font-size: 18px;*/
    /*line-height: 60px;*/
/*}*/

/*.sidebar-nav > .sidebar-brand a {*/
    /*color: #999999;*/
/*}*/

/*.sidebar-nav > .sidebar-brand a:hover {*/
    /*color: #fff;*/
    /*background: none;*/
/*}*/

/*#page-content-wrapper section header {*/
    /*margin-bottom: 30px;*/
/*}*/

/*@media (min-width: 768px) {*/
    /*#wrapper {*/
        /*padding-left: 250px;*/
    /*}*/

    /*#wrapper.toggled {*/
        /*padding-left: 0;*/
    /*}*/

    /*#sidebar-wrapper {*/
        /*width: 265px;*/
    /*}*/

    /*#wrapper.toggled #sidebar-wrapper {*/
        /*width: 0;*/
    /*}*/

    /*#page-content-wrapper {*/
        /*padding: 20px;*/
        /*position: relative;*/
    /*}*/

    /*#wrapper.toggled #page-content-wrapper {*/
        /*position: relative;*/
        /*margin-right: 0;*/
    /*}*/
/*}*/
