{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Utah Water Research Laboratory">
    <meta name="description" content="Web Streaming Data Loader">

    {% block page_title %}
        <title>EnviroDIY Water Quality Data Portal </title>
    {% endblock %}

    <link rel="icon"
          type="image/png"
          href="{% static 'dataloaderinterface/images/favicon.png' %}">

    {% block styles %}
        <link rel="stylesheet"
              href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">

        <link rel="stylesheet" href="{% static 'dataloaderinterface/css/font-awesome.min.css' %}">

        <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,‌​100italic,300,300ita‌​lic,400italic,500,50‌​0italic,700,700itali‌​c,900italic,900'
              rel='stylesheet' type='text/css'>

        <link rel="stylesheet" href="{% static 'dataloaderinterface/css/vendor/bootstrap/bootstrap.min.css' %}">

        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

        <link rel="stylesheet"
              href="{% static 'dataloaderinterface/css/vendor/mdl/material.indigo-blue.min.css' %}">

        <link rel="stylesheet" href="{% static 'dataloaderinterface/css/style.css' %}">
    {% endblock %}

    {% block forced_scripts %}

    {% endblock %}
</head>

<body>
<div id="wrapper">
    <header>
        <nav class="navbar navbar-dark navbar-expand-md fixed-top">
            <a class="navbar-brand" href="{% url 'home' %}">
                <img src="{% static 'dataloaderinterface/images/site_logo.png' %}" alt="WebSDL"
                     width="264" height="55">
            </a>

            <button type="button" class="navbar-toggler" data-toggle="collapse"
                    data-target="#navbarNavDropdown"
                    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle Navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav mr-auto">
                    {% if user.is_authenticated %}
                        <li class="nav-item menu-sites-list">
                            <a class="nav-link" href="{% url 'sites_list' %}">My Sites</a>
                        </li>
                    {% endif %}
                    <li class="nav-item menu-browse-sites">
                        <a class="nav-link" href="{% url 'browse_sites' %}">Browse Sites</a>
                    </li>
                </ul>

                <ul class="navbar-nav">
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'user_account' %}">
                                <i class="fa fa-user" aria-hidden="true"></i> Logged in as {{ user }}</a></li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'logout' %}"><i class="fa fa-sign-out"
                                                                             aria-hidden="true"></i>
                                Logout</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'login' %}"><i class="fa fa-sign-in"
                                                                            aria-hidden="true"></i> Log In</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'user_registration' %}"><i class="fa fa-sign-up"
                                                                                        aria-hidden="true"></i>
                                Sign Up</a>
                        </li>
                    {% endif %}
                </ul>
            </div><!-- /.navbar-collapse -->
        </nav>
    </header>
    {% block home_page_banner %}{% endblock %}
    {% block content %}{% endblock %}
</div>

{% block footer %}
    <footer>
        {% include 'dataloaderinterface/footer.html' %}
    </footer>
{% endblock %}

<div id="services-urls">
    {% block services_urls %}

    {% endblock %}
</div>

{% block scripts %}
    <script src="{% static 'dataloaderinterface/js/vendor/jquery-3.2.1.min.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <script src="{% static 'dataloaderinterface/js/vendor/mdl/material.min.js' %}"></script>
    <script src="{% static 'dataloaderinterface/js/vendor/bootstrap/bootstrap.bundle.min.js' %}"></script>
{% endblock %}
</body>
</html>


