{% extends 'dataloaderinterface/base.html' %}
{% load staticfiles %}
{% load site %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12" style="border: 1px solid #DDD;">
                <h4 class="page-title" style="display: inline-block;">Browse Data Collection Sites&nbsp;</h4>
                <span class="subtitle text-muted">Browse all sites that have been registered in the database by all users. Clicking on a site shows it's details and provides a link to view the data collected at that site.</span>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-3 mdl-shadow--2dp">
                <a data-toggle="collapse" href="#collapseOrganization" role="button" aria-expanded="true"
                   aria-controls="collapseOrganization" style="text-decoration: none; color: #222;"><h6>ORGANIZATION</h6></a>

                <div id="collapseOrganization" class="show">
                    <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp full-width">
                        <tbody>
                        <tr>
                            <td class="mdl-data-table__cell--non-numeric">
                                <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-1">
                                    <input type="checkbox" id="checkbox-1" class="mdl-checkbox__input">
                                    <span class="mdl-checkbox__label">Utah State University</span>
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td class="mdl-data-table__cell--non-numeric">
                                <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-2">
                                    <input type="checkbox" id="checkbox-2" class="mdl-checkbox__input">
                                    <span class="mdl-checkbox__label">Utah Water Research Laboratory</span>
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td class="mdl-data-table__cell--non-numeric">
                                <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-3">
                                    <input type="checkbox" id="checkbox-3" class="mdl-checkbox__input">
                                    <span class="mdl-checkbox__label">Stroud Water Research Center</span>
                                </label>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <a data-toggle="collapse" href="#collapseDataType" role="button" aria-expanded="true"
                   aria-controls="collapseDataType" style="text-decoration: none; color: #222;"><h6>DATA TYPE</h6></a>
                <div id="collapseDataType" class="show">
                    <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp full-width">
                        <tbody>
                        <tr>
                            <td class="mdl-data-table__cell--non-numeric">
                                <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-4">
                                    <input type="checkbox" id="checkbox-4" class="mdl-checkbox__input">
                                    <span class="mdl-checkbox__label">Leaf Pack</span>
                                </label>

                            </td>
                        </tr>
                        <tr>
                            <td class="mdl-data-table__cell--non-numeric">
                                <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-5">
                                    <input type="checkbox" id="checkbox-5" class="mdl-checkbox__input">
                                    <span class="mdl-checkbox__label">EnviroDIY</span>
                                </label>

                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <br><br>
            </div>

            <div class="col-sm-12 col-md-9" style="padding: 0;">
                <div class="map-container full-screen-map-container">
                    <div id="map"></div>
                </div>
            </div>

            {% autoescape off %}
            <script id="sites-data" type="application/json">
                [
                {% for site in sites %}
                    {
                    "id": "{{ site.sampling_feature_id }}",
                    "code": "{{ site.sampling_feature_code }}",
                    "name": "{{ site.sampling_feature_name }}",
                    "latitude": {{ site.latitude|default_if_none:0 }},
                    "longitude": {{ site.longitude|default_if_none:0 }},
                    "elevation": {{ site.elevation_m|default_if_none:'""' }},
                    "latest-measurement": "{% if site.latest_measurement %}{{ site.latest_measurement }} ({{ site.latest_measurement|timesince }} ago){% else %}-{% endif %}",
                    "detail_link": "{% url 'site_detail' site.sampling_feature_code %}"
                    }{% if not forloop.last %},{% endif %}
                {% endfor %}
                ]
            </script>
            {% endautoescape %}

            <script id="site-marker-content" type="text/plain">
                <div>
                    <div id="marker-content">
                        <table class="marker-info">
                            <tr class="site-field" data-field="code">
                                <th class="site-label">Site Code</th>
                                <td class="site-data"></td>
                            </tr>
                            <tr class="site-field" data-field="name">
                                <th>Site Name</th>
                                <td class="site-data"></td>
                            </tr>
                            <tr class="site-field" data-field="latitude">
                                <th>Latitude</th>
                                <td class="site-data"></td>
                            </tr>
                            <tr class="site-field" data-field="longitude">
                                <th>Longitude</th>
                                <td class="site-data"></td>
                            </tr>
                            <tr class="site-field" data-field="elevation">
                                <th>Elevation</th>
                                <td><span class="site-data"></span> <span class="elevation-units">m</span></td>
                            </tr>
                            <tr class="site-field" data-field="latest-measurement">
                                <th>Latest Measurement</th>
                                <td><span class="site-data"></span></td>
                            </tr>
                            <tr class="site-link">
                                <td colspan="2"><a>View data for this site</a></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </script>
        </div>
    </div>
{% endblock %}

{% block footer %}{% endblock %}

{% block services_urls %}
    {{ block.super }}
{% endblock %}

{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'dataloaderinterface/css/browse-sites.css' %}">
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="{% static 'dataloaderinterface/js/browse-sites.js' %}"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAiUxiuZaPEPtB4EhAquguz7kNzYU7bnnc&callback=initMap"></script>
{% endblock %}