{% extends 'dataloaderinterface/base.html' %}
{% load staticfiles %}
{% load site %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="browse-sites-header mdl-shadow--2dp">
                <div class="page-title">
                    <span>Browse Data Collection Sites&nbsp;</span>
                    <i class="glyphicon glyphicon-info-sign"  data-toggle="collapse"
                     data-target="#browseDescription" aria-expanded="true" aria-controls="#browseDescription"></i>
                </div>

                <div class="collapse" id="browseDescription">
                    <br>
                    <span class="subtitle">Browse all sites that have been registered in the database by all users. Clicking on a site shows it's details and provides a link to view the data collected at that site.</span>
                </div>
            </div>

            <div class="map-container full-screen-map-container">
                <div id="map"></div>
            </div>

            <script id="sites-data" type="application/json">
                [
                {% for site in sites %}
                    {
                        "id": "{{ site.sampling_feature_id }}",
                        "code": "{{ site.sampling_feature_code }}",
                        "name": "{{ site.sampling_feature_name }}",
                        "latitude": {{ site.latitude|default_if_none:0 }},
                        "longitude": {{ site.longitude|default_if_none:0 }},
                        "elevation": {{ site.elevation_m|default_if_none:'""' }},
                        "detail_link": "{% url 'site_detail' site.sampling_feature_code %}"
                    }{% if not forloop.last %},{% endif %}
                {% endfor %}
                ]
            </script>

            <script id="site-marker-content" type="text/plain">
                <div>
                    <div id="marker-content">
                        <table class="marker-info">
                            <tr class="site-field" data-field="code">
                                <td class="site-label">Site Code: </td>
                                <th class="site-data"></th>
                            </tr>

                            <tr class="site-field" data-field="name">
                                <td>Site Name: </td>
                                <th class="site-data"></th>
                            </tr>

                            <tr class="site-field" data-field="latitude">
                                <td>Latitude: </td>
                                <th class="site-data"></th>
                            </tr>

                            <tr class="site-field" data-field="longitude">
                                <td>Longitude: </td>
                                <th class="site-data"></th>
                            </tr>

                            <tr class="site-field" data-field="elevation">
                                <td>Elevation: </td>
                                <th><span class="site-data"></span> <span class="elevation-units">m</span></th>
                            </tr>
                        </table>

                        <br>

                        <div class="site-link">
                            <a>View data for this site</a>
                        </div>
                    </div>
                </div>
            </script>
        </div>
    </div>
{% endblock %}

{% block footer %}{% endblock %}

{% block services_urls %}
    {{ block.super }}
{% endblock %}

{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'dataloaderinterface/css/browse-sites.css' %}">
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="{% static 'dataloaderinterface/js/browse-sites.js' %}"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAiUxiuZaPEPtB4EhAquguz7kNzYU7bnnc&callback=initMap"></script>
{% endblock %}