{% extends 'dataloaderinterface/base.html' %}
{% load staticfiles %}
{% load helpers %}
{% load site %}

{% block page_title %}
    <title>Browse Sites</title>
{% endblock %}

{% block content %}
    <div class="container-fluid full-height">
        <div class="row" id="title-row">
            <div class="col-sm-12 col-md-4 col-lg-3" style="background-color: #005252;">
                <span class="page-title">Browse Data Collection Sites&nbsp;</span>
            </div>
            <div class="col-sm-12 col-md-8 col-lg-9" style="background-color: #048a8a; border-bottom: 1px solid #005252;">
                <span class="subtitle">Browse all sites that have been registered in the database by all users. Clicking on a site shows its details and provides a link to view the data collected at that site.</span>
            </div>
        </div>
        <div class="row" id="filters-row">
            <div id="filters" class="col-sm-12 col-md-4 col-lg-3 mdl-shadow--2dp">
                <div class="row mdl-shadow--2dp">
                    <div class="col-7">
                        <label id="label-switch-zoom" class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-zoom">
                            <input type="checkbox" id="switch-zoom" class="mdl-switch__input" checked>
                            <span class="mdl-switch__label">Auto Zoom</span>
                        </label>
                        <div class="mdl-tooltip" for="label-switch-zoom">
                            Automatically zoom to the extent of visible markers
                        </div>
                    </div>
                    <div class="col-5">
                        <button id="btnClearFilters" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect pull-right"
                                style="margin: 10px 0;">
                            <i class="material-icons">filter_list</i> Clear
                        </button>
                        <div class="mdl-tooltip" for="btnClearFilters">
                            Clear All Filters
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-8 col-lg-9" style="padding: 0;">
                <div class="map-container full-screen-map-container">
                    <div id="map"></div>
                </div>
            </div>

            {% autoescape off %}
            <script id="sites-data" type="application/json">
                [
                {% for site in sites %}
                    {
                    "id": "{{ site.sampling_feature_id }}",
                    "code": "{{ site.sampling_feature_code }}",
                    "organization": "{{ site.organization_name }}",
                    "type": "{{ site.site_type }}",
                    "name": "{{ site.sampling_feature_name }}",
                    "latitude": {{ site.latitude|default_if_none:0 }},
                    "longitude": {{ site.longitude|default_if_none:0 }},
                    "elevation": {{ site.elevation_m|default_if_none:'""' }},
                    "latest-measurement": "{% if site.latest_measurement %}{{ site.latest_measurement.value_local_datetime }} {{ site.latest_measurement.utc_offset_hours_display }} ({{ site.latest_measurement.value_datetime|utc_timesince }} ago){% else %}-{% endif %}",
                    "detail_link": "{% url 'site_detail' site.sampling_feature_code %}",
                    "dataType": "{% if site.sensors.all %}EnviroDIY,{% endif %}{% if site.leafpack_set.all %}Leaf Pack{% endif %}",
                    "status": "{{ site.ownership_status }}"
                    }{% if not forloop.last %},{% endif %}
                {% endfor %}
                ]
            </script>
            {% endautoescape %}

            <script id="site-marker-content" type="text/plain">
                <div>
                    <div id="marker-content">
                        <table class="marker-info">
                            <tr class="site-field hidden" data-field="organization">
                                <th class="site-label">Organization</th>
                                <td class="site-data"></td>
                            </tr>
                            <tr class="site-field hidden" data-field="type">
                                <th class="site-label">Site Type</th>
                                <td class="site-data"></td>
                            </tr>
                            <tr class="site-field" data-field="code">
                                <th class="site-label">Site Code</th>
                                <td class="site-data"></td>
                            </tr>
                            <tr class="site-field" data-field="name">
                                <th>Site Name</th>
                                <td class="site-data"></td>
                            </tr>
                            <tr class="site-field" data-field="latitude">
                                <th>Latitude</th>
                                <td class="site-data"></td>
                            </tr>
                            <tr class="site-field" data-field="longitude">
                                <th>Longitude</th>
                                <td class="site-data"></td>
                            </tr>
                            <tr class="site-field" data-field="elevation">
                                <th>Elevation</th>
                                <td><span class="site-data"></span> <span class="elevation-units">m</span></td>
                            </tr>
                            <tr class="site-field" data-field="latest-measurement">
                                <th>Latest Measurement</th>
                                <td><span class="site-data"></span></td>
                            </tr>
                            <tr class="site-link">
                                <td colspan="2"><a>View data for this site</a></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </script>
        </div>
    </div>
{% endblock %}

{% block footer %}{% endblock %}

{% block services_urls %}
    {{ block.super }}
{% endblock %}

{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'dataloaderinterface/css/browse-sites.css' %}">
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="{% static 'dataloaderinterface/js/browse-sites.js' %}"></script>
    <script defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAiUxiuZaPEPtB4EhAquguz7kNzYU7bnnc&callback=initMap"></script>
{% endblock %}