{% extends 'dataloaderinterface/base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block content %}
    <section class="page-content device-data col-lg-12">
        <header>
            <h2>Device Registration</h2>
            {% if messages %}
                {% for message in messages %}
                    <span class="form-message {{ message.tags }}">{{ message }}</span>
                {% endfor %}
            {% endif %}
        </header>

        <form method="post" enctype="multipart/form-data" role="form">
            {% csrf_token %}
            <input name="user_first_name" type="hidden" value="{{ user.first_name }}">
            <input name="user_last_name" type="hidden" value="{{ user.last_name }}">

            <div class="separator"></div>

            <fieldset class="form-fieldset col-lg-12">
                <legend></legend>
                <div class="form-group col-lg-4 sampling-feature-fields">
                    {% for field in sampling_feature_form %}
                        <div class="form-field col-lg-12{% if field.field.required %} required-field{% endif %}{% if field.errors %} has-error{% endif %}" data-field="{{ field.name }}">
                            <label class="control-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
                            {{ field|add_class:"form-control input-sm" }}
                        </div>
                    {% endfor %}
                    {% for field in site_form %}
                        <div class="form-field col-lg-12{% if field.field.required %} required-field{% endif %}{% if field.errors %} has-error{% endif %}" data-field="{{ field.name }}">
                            <label class="control-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
                            {{ field|add_class:"form-control input-sm" }}
                        </div>
                    {% endfor %}
                </div>
                <div class="form-group col-lg-8 map-container">
                    <input type="hidden" name="zoom-level" value="{{ zoom_level}}">
                    <div id="map"></div>
                </div>
                <div class="clearfix"></div>
            </fieldset>

            <div class="separator"></div>

            <fieldset class="form-fieldset col-lg-12">
                <div class="row col-lg-12 results-fields well">
                    <div id="formset" class="" data-formset-prefix="{{ results_formset.prefix }}">
                        {{ results_formset.management_form }}

                        <fieldset class="center-block formset-container">
                            <legend>Sensors</legend>
                            {% for result_form in results_formset %}
                                <div class="result-form col-lg-6">
                                    <div class="result-wrapper clearfix">
                                        <span class="glyphicon glyphicon-remove remove-result"></span>
                                        {% for field in result_form %}
                                            <div class="form-field col-lg-12{% if field.field.required %} required-field{% endif %}{% if field.errors %} has-error{% endif %}" data-field="{{ field.name }}">
                                                <label class="control-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
                                                {{ field|add_class:"form-control input-sm" }}
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endfor %}

                        </fieldset>
                        <div class="col-lg-12 add-result-container">
                            <button type="button" class="btn btn-success new-result-button">Add Sensor</button>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>

                <input type="submit" value="Register Device" class="btn btn-primary">
            </fieldset>


        </form>

        <div id="results-template">
            <div class="result-form col-lg-6">
                <div class="result-wrapper clearfix">
                    <span class="glyphicon glyphicon-remove remove-result"></span>
                    {% for field in results_formset.empty_form %}
                        <div class="form-field col-lg-12{% if field.field.required %} required-field{% endif %}{% if field.errors %} has-error{% endif %}" data-field="{{ field.name }}">
                            <label class="control-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
                            {{ field|add_class:"form-control input-sm" }}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block services_urls %}
    {{ block.super }}
    <input id="model-variables-api" type="hidden" value="{% url 'model_variables_service' %}">
{% endblock %}

{% block styles %}
    {{ block.super }}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-theme/0.1.0-beta.6/select2-bootstrap.min.css" rel="stylesheet" />
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.full.min.js"></script>
    <script src="{% static 'dataloaderinterface/js/common-forms.js' %}"></script>
    <script src="{% static 'dataloaderinterface/js/device-form.js' %}"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAiUxiuZaPEPtB4EhAquguz7kNzYU7bnnc&callback=initMap"></script>
{% endblock %}
