{% extends 'dataloaderinterface/base.html' %}
{% load staticfiles %}

{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet"
          href="https://cdn.datatables.net/v/bs-3.3.6/dt-1.10.12/fh-3.1.2/r-2.1.0/sc-1.4.2/datatables.min.css"/>
    <link rel="stylesheet" href="{% static 'dataloaderinterface/css/dialog-polyfill.css' %}">
{% endblock %}

{% block content %}
    <div class="ribbon ribbon-green">

    </div>

    <div class="ribbon-container">
        <div class="container ribbon-content mdl-color--white mdl-shadow--4dp">
            <div class="row">
                <section class="device-data col-lg-12">
                    <header>
                        <div class="page-title">
                            {% if sampling_feature.sampling_feature_name %}
                                {{ sampling_feature.sampling_feature_name }} ({{ sampling_feature.sampling_feature_code }})
                            {% else %}
                                {{ sampling_feature.sampling_feature_code }}
                            {% endif %}
                        </div>

                        {% if messages %}
                            {% for message in messages %}
                                <p>{{ message }}</p>
                            {% endfor %}
                        {% endif %}

                        <div class="row">
                            <div class="col-xs-12 col-sm-6 site-tokens">
                                <div class="input-group input-group-copy">
                                    <span class="input-group-addon"><i class="material-icons">local_offer</i> Registration Token</span>
                                    <input type="text" id="authToken" class="form-control click-select-all" readonly
                                           aria-label="Registration Token"
                                           value="{{ object.authentication_token }}">
                                    <span class="input-group-addon clipboard-copy btn-copy"
                                          data-target="authToken">Copy</span>
                                </div>

                                <br>

                                <div class="input-group input-group-copy">
                                    <span class="input-group-addon"><i class="material-icons">settings_remote</i> Sampling Feature UUID</span>
                                    <input type="text" id="featureUUID" class="form-control click-select-all" readonly
                                           aria-label="Sampling Feature UUID"
                                           value="{{ sampling_feature.sampling_feature_uuid }}">
                                    <span class="input-group-addon clipboard-copy btn-copy"
                                          data-target="featureUUID">Copy</span>
                                </div>
                            </div>

                        </div>
                        <br>
                    </header>


                    <div class="row">
                        <div class="registration-data col-xs-12 col-sm-6">
                            {# Deployment fields #}

                            <table class="mdl-data-table mdl-js-data-table mdl-data-table-no-hover full-width">
                                <tr>
                                    <td class="mdl-data-table__cell--non-numeric">Deployment by</td>
                                    <td class="mdl-data-table__cell--non-numeric">{{ affiliation }}</td>
                                </tr>

                                <tr>
                                    <td class="mdl-data-table__cell--non-numeric">Deployment Date</td>
                                    <td class="mdl-data-table__cell--non-numeric">{{ deployment.begin_datetime }}</td>
                                </tr>

                                <tr>
                                    <td class="mdl-data-table__cell--non-numeric">Latitude</td>
                                    <td class="mdl-data-table__cell--non-numeric">{{ site.latitude }}</td>
                                </tr>

                                <tr>
                                    <td class="mdl-data-table__cell--non-numeric">Longitude</td>
                                    <td class="mdl-data-table__cell--non-numeric">{{ site.longitude }}</td>
                                </tr>

                                <tr>
                                    <td class="mdl-data-table__cell--non-numeric">Elevation (m)</td>
                                    <td class="mdl-data-table__cell--non-numeric">{{ sampling_feature.elevation_m }}</td>
                                </tr>

                                <tr>
                                    <td class="mdl-data-table__cell--non-numeric">Site Type</td>
                                    <td class="mdl-data-table__cell--non-numeric">{{ site.site_type_id }}</td>
                                </tr>

                                <tr>
                                    <td class="mdl-data-table__cell--non-numeric">Deployment Method</td>
                                    <td class="mdl-data-table__cell--non-numeric"><span>{{ deployment.method }}</span></td>
                                </tr>

                            </table>

                        </div>

                        <div class="detail-map-container col-xs-12 col-sm-6">
                            <div id="map"></div>
                            <input type="hidden" id="site-latitude" value="{{ site.latitude }}">
                            <input type="hidden" id="site-longitude" value="{{ site.longitude }}">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12">
                            <table>
                                <tr>
                                    <td><i class="material-icons text-muted">watch_later</i>&nbsp;&nbsp;</td>
                                    <td><h5 class="section-title">Recent Measurements</h5></td>
                                </tr>
                            </table>
                        </div>

                        <div class="sparkline-plots col-xs-12">
                            <div class="alert alert-warning" role="alert">Only last 24 hours shown on sparkline plots
                                and tables
                            </div>
                            <div class="row">
                                {% for feature_action in feature_actions %}
                                    {% with feature_action.results.all.0 as result %}
                                        <div class="col-xs-12 col-sm-6">
                                            <div class="plot_box mdl-card" data-result-id="{{ result.result_id }}"
                                                 data-variable-name="{{ result.variable.variable_name_id }}"
                                                 data-variable-code="{{ result.variable.variable_code }}">

                                                <div class="mdl-card__actions mdl-card--border mdl-card__supporting-text">
                                                    <div class="input-group input-group-copy pull-left">
                                                        <span class="input-group-addon">Result UUID</span>
                                                        <input type="text" id="resultUUID{{ forloop.counter }}"
                                                               class="form-control click-select-all" readonly
                                                               aria-label="Amount (to the nearest dollar)"
                                                               value="{{ result.result_uuid }}">
                                                        <span class="input-group-addon clipboard-copy btn-copy"
                                                              data-target="resultUUID{{ forloop.counter }}">Copy</span>
                                                    </div>

                                                    <span id="table-trigger-{{ forloop.counter0 }}"
                                                          class="fa fa-table fa-2x table-trigger"
                                                          aria-hidden="true"></span>
                                                    <div class="mdl-tooltip mdl-tooltip--left"
                                                         data-mdl-for="table-trigger-{{ forloop.counter0 }}">
                                                        View Data Table
                                                    </div>
                                                </div>

                                                <div class="variable-name">
                                                    <strong>{{ result.variable.variable_name_id }} </strong><span
                                                        class="variable-code">({{ result.variable.variable_code }})</span>
                                                </div>

                                                <table class="full-width">
                                                    <tr>
                                                        <td class="variable-description">
                                                            <div class="variable-data text-center">
                                                                <div class="latest-value">{{ result.timeseriesresult.values.last.data_value|floatformat:-3 }}</div>
                                                                <div class="unit">{{ result.unit.unit_abbreviation }}</div>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div id="graph{{ forloop.counter0 }}" class="graph-container"></div>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    {% endwith %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>

    <div id="clipboard-snackbar" class="mdl-js-snackbar mdl-snackbar">
        <div class="mdl-snackbar__text"></div>
        <button class="mdl-snackbar__action hidden" type="button"></button>
    </div>

    <dialog class="mdl-dialog" id="data-table-dialog">
        <h4 class="mdl-dialog__title">Temperature (Mayfly-Temp)</h4>

        <div class="mdl-dialog__content">
            <div class="measurements-table">
                {#                            <button data-result-id#}
                {#                                    class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent mdl-js-ripple-effect pull-right download-data-button">#}
                {#                                <i class="fa fa-download" aria-hidden="true"></i> Download <span#}
                {#                                    class="variable-name"></span> Raw Data#}
                {#                            </button>#}

                {% for feature_action in feature_actions %}
                    {% with feature_action.results.first as result %}
                        <table class="table table-striped table-bordered data-values {{ result.variable.variable_code }}"
                               cellspacing="0" width="100%" data-result-id="{{ result.result_id }}">
                            <thead>
                            <tr>
                                <th>Timestamp</th>
                                <th>Value</th>
                            </tr>
                            </thead>

                            <tbody>
                            {% for series_value in result.timeseriesresult.values.recent %}
                                <tr>
                                    <td>{{ series_value.value_datetime }}</td>
                                    <td>{{ series_value.data_value }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% endwith %}
                {% endfor %}
            </div>
        </div>
        <div class="mdl-dialog__actions">
            <button type="button" class="mdl-button dialog-close">Close</button>
        </div>
    </dialog>

{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
    <script src="{% static 'dataloaderinterface/js/device-detail.js' %}"></script>
    <script src="{% static 'dataloaderinterface/js/dialog-polyfill.js' %}"></script>
    <script src="{% static 'dataloaderinterface/js/copyToClipboard.js' %}"></script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAiUxiuZaPEPtB4EhAquguz7kNzYU7bnnc&callback=initMap"></script>
{% endblock %}
