{% extends 'dataloaderinterface/base.html' %}


{% block content %}
    <div class="container main-content">
        <div class="row">
            <section class="devices-list col-lg-12">
                <header id="space">
                    <h2 class="device">Registered Devices</h2>
                </header>

                <div class="row">
                    {% for registration in object_list %}

                        <a class="li_link" href="{% url 'device_detail' registration.registration_id %}">
                            <div class="col-xs-12 col-sm-4">
                                <div class="card">
                                    <h3>{{ registration.sampling_feature.sampling_feature_name }}</h3>
                                    <h2>{{ registration.sampling_feature.sampling_feature_code }}</h2>
                                    <h2>{{ registration.registration_date }}</h2>
                                </div>
                            </div>
                        </a>
                {% endfor %}
                </div>
            </section>
        </div>
    </div>

{% endblock %}
