{% extends 'dataloaderinterface/base.html' %}

{% block content %}
    <section class="devices-list col-lg-12">
        <header>
            <h2>List of registered devices for {{ user }}</h2>
        </header>
        <ul>
            {% for registration in object_list %}
                <li><a href="{% url 'device_detail' registration.registration_id %}">{{ registration }}</a></li>
            {% endfor %}
        </ul>
        <table>
            <thead>
            <tr>
                <th></th>
{#                <th></th>#}
{#                <th></th>#}
            </tr>
            </thead>
            <tbody>
                {% for registration in object_list %}
                    <tr>
{#                        <td><a href="{% url detail_url concept.term %}">{{ concept.term }}</a></td>#}
{#                        <td>{{ concept.name }}</td>#}
                        <td></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
</section>
{% endblock %}
