{% extends 'dataloaderinterface/base.html' %}


{% block content %}
    <section class="devices-list col-lg-12">
        <header id="space">
            <h2 class="device">{{ user }}'s Registered Devices</h2>
        </header>
        <ul class="device_list" id="menu">
            {% for registration in object_list %}
                <a class="li_link" href="{% url 'device_detail' registration.registration_id %}">
                <li class="device_item">
                    <div id="device_name"> {{ registration.device_name }} </div>
                    <div id="device_reg"> {{ registration.registration_date }} </div>
                </li>
                </a>
            {% endfor %}
        </ul>
</section>
{% endblock %}
