{% extends 'dataloaderinterface/base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block content %}
    <section class="device-data col-lg-12">
        <header>
            <h2>Device Registration</h2>
        </header>
        {% if messages %}
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        {% endif %}

        <form method="post" enctype="multipart/form-data" role="form">
            {% csrf_token %}
            <fieldset class="clearfix form-fieldset">
                <legend>Sampling Feature</legend>
                <div class="form-group col-lg-4 sampling-feature-fields">
                    {% for field in sampling_feature_form %}
                        <div class="form-field {% if field.field.required %}required-field{% endif %} {% if field.errors %}has-error{% endif %}">
                            <label class="col-lg-12 control-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
                            <div class="col-lg-12">
                                {{ field|add_class:"form-control input-sm" }}
                            </div>
                        </div>
                    {% endfor %}
                    {% for field in site_form %}
                        <div class="form-field {% if field.field.required %}required-field{% endif %} {% if field.errors %}has-error{% endif %}">
                            <label class="col-lg-12 control-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
                            <div class="col-lg-12">
                                {{ field|add_class:"form-control input-sm" }}
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="form-group col-lg-8 map-container">
                    <div id="map"></div>
                </div>
            </fieldset>

            <fieldset class="clearfix form-fieldset">
                <legend>Deployment Action</legend>
                <div class="form-group col-lg-4 action-affiliation-fields">
                    {% for field in action_form %}
                        <div class="form-field {% if field.field.required %}required-field{% endif %} {% if field.errors %}has-error{% endif %}">
                            <label class="col-lg-12 control-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
                            <div class="col-lg-12">
                                {{ field|add_class:"form-control input-sm" }}
                            </div>
                        </div>
                    {% endfor %}
                    {% for field in action_by_form %}
                        <div class="form-field {% if field.field.required %}required-field{% endif %} {% if field.errors %}has-error{% endif %}">
                            <label class="col-lg-12 control-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
                            <div class="col-lg-12">
                                {{ field|add_class:"form-control input-sm" }}
                            </div>
                        </div>
                    {% endfor %}

                    <div class="new-person-fields">
                        {% for field in people_form %}
                            <div class="form-field {% if field.field.required %}required-field{% endif %} {% if field.errors %}has-error{% endif %}">
                                <label class="col-lg-12 control-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
                                <div class="col-lg-12">
                                    {{ field|add_class:"form-control input-sm"|attr:"disabled" }}
                                </div>
                            </div>
                        {% endfor %}
                        {% for field in organization_form %}
                            <div class="form-field {% if field.field.required %}required-field{% endif %} {% if field.errors %}has-error{% endif %}">
                                <label class="col-lg-12 control-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
                                <div class="col-lg-12">
                                    {{ field|add_class:"form-control input-sm"|attr:"disabled" }}
                                </div>
                            </div>
                        {% endfor %}

                        {% for field in affiliation_form %}
                            <div class="form-field {% if field.field.required %}required-field{% endif %} {% if field.errors %}has-error{% endif %}">
                                <label class="col-lg-12 control-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
                                <div class="col-lg-12">
                                    {{ field|add_class:"form-control input-sm"|attr:"disabled" }}
                                </div>
                            </div>
                        {% endfor %}

                        <div class="col-lg-12">
                            <button type="button" class="btn btn-success new-affiliation-button">Add Person</button>
                        </div>
                    </div>
                </div>


                <div class="row col-lg-8 results-fields">
                    <div id="formset" class="well" data-formset-prefix="{{ results_formset.prefix }}">
                        {{ results_formset.management_form }}

                        <fieldset class="center-block formset-container">
                            <legend>Results</legend>
                            {% for form in results_formset %}
                                <div class="result-form clearfix">
                                    <span class="glyphicon glyphicon-remove remove-result"></span>
                                    {% for field in form %}
                                        <div class="col-lg-6 form-field {% if field.field.required %}required-field{% endif %} {% if field.errors %}has-error{% endif %}">
                                            <label class="col-lg-4 control-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
                                            <div class="col-lg-8">
                                                {{ field|add_class:"form-control input-sm" }}
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            {% endfor %}

                        </fieldset>
                        <div class="col-lg-12 add-result-container">
                            <button type="button" class="btn btn-success new-result-button">Add Result</button>
                        </div>
                    </div>
                </div>
            </fieldset>

            <input type="submit" value="Register Device" class="btn btn-primary">
        </form>

        <div id="results-template">
            <div class="result-form clearfix">
                <span class="glyphicon glyphicon-remove remove-result"></span>
                {% for field in results_formset.empty_form %}
                    <div class="col-lg-6 form-field {% if field.field.required %}required-field{% endif %}">
                        <label class="col-lg-4 control-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
                        <div class="col-lg-8">
                            {{ field|add_class:"form-control input-sm" }}
                        </div>
                    </div>

                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}

{% block services_urls %}
    {{ block.super }}
    <input id="affiliation-api" type="hidden" value="{% url 'affiliation_service' %}">
{% endblock %}

{% block styles %}
    {{ block.super }}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-theme/0.1.0-beta.6/select2-bootstrap.min.css" rel="stylesheet" />
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.full.min.js"></script>
    <script src="{% static 'dataloaderinterface/js/device-form.js' %}"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAiUxiuZaPEPtB4EhAquguz7kNzYU7bnnc&callback=initMap"></script>
{% endblock %}
