{% load staticfiles %}

<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-3">
            <h5 class="footer-section-title">SITE LICENSE</h5>
            <img class="pull-left license-logo"
                 src="{% static 'dataloaderinterface/images/creative-commons.png' %}">
            <h5> All content on this website is licensed as <a target="_blank"
                                                               href="https://creativecommons.org/licenses/by-sa/4.0/">Creative
                Commons
                Attribution-ShareAlike 4.0
                International (CC-BY-SA)</a>.</h5>
        </div>

        <div class="col-sm-12 d-block d-md-none">
            <div class="separator"></div>
        </div>

        <div class="col-sm-12 col-md-3">
            <h5 class="footer-section-title">PRESENTED BY</h5>
            <h5>EnviroDIY™ is presented by <a href="https://www.stroudcenter.org/ " target="_blank">Stroud Water
                Research
                Center</a>, which seeks to advance knowledge and stewardship of fresh water through research, education,
                and restoration.</h5>
            <img id="stroud-logo" src="{% static 'dataloaderinterface/images/logo_stroud.png' %}"
                 alt="Stroud Logo">
        </div>

        <div class="col-sm-12 d-block d-md-none">
            <div class="separator"></div>
        </div>

        <div class="col-sm-12 col-md-3">
            <h5 class="footer-section-title">DEVELOPED BY</h5>
            <h5>Utah Water Research Laboratory at Utah State University with contributions from <a
                    href="https://www.stroudcenter.org/" target="_blank">Stroud Water Research Center</a> and <a
                    href="https://www.limno.com/" target="_blank">LimnoTech</a></h5>
        </div>

        <div class="col-sm-12 d-block d-md-none">
            <div class="separator"></div>
        </div>

        <div class="col-sm-12 col-md-3">
            <h5 class="footer-section-title">WITH SUPPORT FROM</h5>
            <h5><a href="https://www.williampennfoundation.org/" target="_blank">William Penn Foundation</a></h5>
            <h5><a href="https://www.nsf.gov/index.jsp" target="_blank">National Science Foundation</a> awards <a
                    href="https://www.nsf.gov/awardsearch/showAward?AWD_ID=1331856" target="_blank">EAR-1331856</a>
                and <a href="https://www.nsf.gov/awardsearch/showAward?AWD_ID=1339834" target="_blank">ACI-1339834</a>
            </h5>
            <h5><a href="https://www.stroudcenter.org/" target="_blank">Stroud Water Research Center</a></h5>
        </div>
    </div>
</div>