{% extends 'dataloaderinterface/base.html' %}
{% load staticfiles %}

{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'dataloaderinterface/css/home_page.css' %}">
{% endblock %}

{% block home_page_banner %}
    <div id="banner">
        <div class="parallax-window" data-parallax="scroll"
             {% if user.is_authenticated %}style="height: 400px;"{% endif %}
             data-image-src="{% static "dataloaderinterface/images/background-leafpack-2.jpg" %}"
             id="banner-image-container">
            <div class="legend-container" {% if user.is_authenticated %}style="height: 400px;"{% endif %}>
                <div class="row logos-row">
                    <div class="col-6 col-sm-3 offset-sm-3">
                        <img class="img-fluid" src="{% static "dataloaderinterface/images/envirodiy_logo.png" %}" alt="EnviroDIY Logo">
                    </div>
                    <div class="col-6 col-sm-3">
                        <img class="img-fluid"
                             src="{% static "dataloaderinterface/images/Leaf-Pack-Network-logo_horiz.png" %}"
                             alt="Leaf Pack Network Logo">
                    </div>
                </div>
                <div class="banner-legend text-center">
                    <h2 class="text-center">Water Quality Data Portal </h2>
                    <h4 class="text-center">Data Sharing for the Citizen Science Community</h4>

                    {% if not user.is_authenticated %}
                        <h4 class="text-center">Ready to start sharing your data?</h4>
                        <h4 class="text-center">
                            <a class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent mdl-js-ripple-effect"
                               href="{% url 'user_registration' %}">SIGN UP</a>
                        </h4>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid content-section">
        <div class="container shadow" id="how-it-works-section">
            <div class="row">
                <section class="col-sm-12">
                    <div class="text-center section-title">How it works</div>
                    <p class="lead text-center">The WikiWatershed Data Portal supports multiple types of water quality data.</p>
                    <br><br>
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <span class="img-row">
                                <img class="home-how-it-works-img"
                                     src="{% static 'dataloaderinterface/images/envirodiy_logo.png' %}"
                                     alt="Data Sharing Portal">
                            </span>
                        </div>
                        <div class="col-sm-12 col-md-6 offset-md-3 text-center">
                            <p class="lead">EnviroDIY is a community of enthusiasts sharing do-it-yourself ideas for environmental
                                science and monitoring.</p>
                            <br><br>
                        </div>
                        <div class="col-sm-12 col-lg-8 offset-lg-2">
                            <div class="row text-center">
                                <div class="col-sm-12 col-md-4 text-center row-eq-height">
                                    <div class="card">
                                        <h3 class="step-number">1</h3>
                                        <i class="fa fa-laptop step-icon" aria-hidden="true"></i>
                                        <h4>Register your compatible data logger and your sensors.</h4>
                                    </div>
                                </div>

                                <div class="col-sm-12 col-md-4 text-center row-eq-height">
                                    <div class="card">
                                        <h3 class="step-number">2</h3>
                                        <i class="material-icons step-icon">settings_remote</i>
                                        <h4>Deploy your data logger and start collecting data.</h4>
                                    </div>
                                </div>

                                <div class="col-sm-12 col-md-4 text-center row-eq-height">
                                    <div class="card">
                                        <h3 class="step-number">3</h3>
                                        <i class="fa fa-cloud-upload step-icon" aria-hidden="true"></i>
                                        <h4>Stream your data continuously and view your results online.</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <br><br>
                            <span class="img-row">
                                <img class="home-how-it-works-img"
                                     src="{% static 'dataloaderinterface/images/Leaf-Pack-Network-logo-horiz-black.png' %}"
                                     alt="Leaf Pack Network logo">
                            </span>
                        </div>
                        <div class="col-sm-12 col-md-6 offset-md-3 text-center">
                            <p class="lead">The Leaf Pack Network is an international network of teachers, students, and citizen
                                monitors investigating their local stream ecosystems.</p>
                            <br><br>
                        </div>
                        <div class="col-sm-12 col-lg-8 offset-lg-2">
                            <div class="row text-center">
                                <div class="col-sm-12 col-md-4 text-center row-eq-height">
                                    <div class="card">
                                        <h3 class="step-number">1</h3>
                                        <i class="fa fa-leaf step-icon" aria-hidden="true"></i>
                                        <h4>Conduct your Leaf Pack experiment.</h4>
                                    </div>
                                </div>

                                <div class="col-sm-12 col-md-4 text-center row-eq-height">
                                    <div class="card">
                                        <h3 class="step-number">2</h3>
                                        <i class="fa fa-laptop step-icon" aria-hidden="true"></i>
                                        <h4>Register your location and enter your data.</h4>
                                    </div>
                                </div>

                                <div class="col-sm-12 col-md-4 text-center row-eq-height">
                                    <div class="card">
                                        <h3 class="step-number">3</h3>
                                        <i class="fa fa-map step-icon" aria-hidden="true"></i>
                                        <h4>Explore your data and those contributed by others.</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>

    <div class="container-fluid content-section">
        <div class="container shadow" id="companion-section">
            <div class="col-sm-12">
                <div class="text-center section-title">Explore our Companion Projects</div>
                <br><br>

                <div class="row text-center">
                    <div class="col"></div>
                    <div class="col-sm-12 col-lg-3 row-eq-height">
                        <div class="card">
                            <div class="explore-image-container">
                                <img class="card-header-image"
                                     src="{% static 'dataloaderinterface/images/envirodiy_logo.png' %}"
                                     alt="EnviroDIY logo">
                            </div>
                            <h3 class="text-left">EnviroDIY</h3>
                            <h4 class="text-left" style="margin-bottom: 60px;">
                                A community of enthusiasts sharing do-it-yourself ideas for environmental science and
                                monitoring
                            </h4>
                            <h4 class="visit-link text-left" >
                                <a href="https://envirodiy.org/" target="_blank">VISIT SITE <i class="material-icons center-icon">chevron_right</i></a>
                            </h4>
                        </div>
                    </div>

                    <div class="col-sm-12 col-lg-3 row-eq-height">
                        <div class="card">
                            <div class="explore-image-container">
                                <img class="card-header-image"
                                     src="{% static 'dataloaderinterface/images/WikiWatershed_logo.png' %}"
                                     alt="WikiWatershed logo">
                            </div>
                            <h3 class="text-left">WikiWatershed</h3>
                            <h4 class="text-left" style="margin-bottom: 60px;">
                                Web tools for collaboratively advancing knowledge and stewardship of fresh water</h4>

                            <h4 class="visit-link text-left">
                                <a href="https://wikiwatershed.org/" target="_blank">
                                VISIT SITE <i class="material-icons center-icon">chevron_right</i></a>
                            </h4>
                        </div>
                    </div>

                    <div class="col-sm-12 col-lg-3 row-eq-height">
                        <div class="card">
                            <div class="explore-image-container">
                                <img class="card-header-image"
                                     src="{% static 'dataloaderinterface/images/Leaf-Pack-Network-logo_horiz.png' %}"
                                     alt="Leaf Pack Network logo">
                            </div>
                            <h3 class="text-left">Leaf Pack Network</h3>
                            <h4 class="text-left" style="margin-bottom: 60px;">
                                An international network of teachers, students, and citizen monitors investigating their
                                local stream ecosystems.
                            </h4>
                            <h4 class="visit-link text-left">
                                <a href="https://leafpacknetwork.org/" target="_blank">
                                VISIT SITE <i class="material-icons center-icon">chevron_right</i></a>
                            </h4>
                        </div>
                    </div>

                    <div class="col"></div>
                </div>
            </div>
        </div>
    </div>

    {% if not user.is_authenticated %}
        <div class="container-fluid section-gray content-section">
            <div class="col-sm-12">
                <section class="col-sm-12 text-center">
                    <h3>Ready to join?</h3>
                    <h5>Create an account for free.</h5>
                    <a class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent mdl-js-ripple-effect"
                       href="{% url 'user_registration' %}">SIGN UP</a>
                </section>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="{% static 'dataloaderinterface/js/vendor/parallax.min.js' %}"></script>
    <script type="text/javascript">
        function TogglePlotVisibility(id) {
            var plot_id = "#plot_preview_".concat(id);
            if (!$(plot_id).is(":visible")) {
                $(plot_id).show();
            } else {
                $(plot_id).hide();
            }
        }
    </script>
    <script src="https://d3js.org/d3.v4.min.js"></script>

{% endblock %}
