{% extends 'dataloaderinterface/base.html' %}
{% load staticfiles %}

{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'dataloaderinterface/css/home_page.css' %}">
{% endblock %}

{% block home_page_banner %}
    <div id="banner">
        <div class="parallax-window" data-parallax="scroll" data-image-src="{% static "dataloaderinterface/images/banner2.JPG" %}" id="banner-image-container">
            <div class="legend-container">
                <div class="banner-legend">
                    <h2 class="text-center">EnviroDIY Water Quality Data Portal </h2>
                    <h4 class="text-center">Near Real-Time Data Sharing for the EnviroDIY Community</h4>
                    {% if not user.is_authenticated %}
                        <h4 class="text-center">Ready to start sharing your data?</h4>
                        <h4 class="text-center"><a href="{% url 'user_registration' %}">SIGN UP</a></h4>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid content-section">
        <div class="container">
            <div class="row">
                <section class="col-xs-12">
                    <div class="text-center section-title">How it works</div>
                    <div class="row">
                        <div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2">
                            <div class="row" id="how-it-works">
                                <div class="col-xs-12 col-sm-4 text-center">
                                    <div class="card">
                                        <h3 class="step-number">1</h3>
                                        <i class="fa fa-laptop step-icon" aria-hidden="true"></i>
                                        <h4>Register your compatible data logger and your sensors.</h4>
                                    </div>
                                </div>

                                <div class="col-xs-12 col-sm-4 text-center">
                                    <div class="card">
                                        <h3 class="step-number">2</h3>
                                        <i class="material-icons step-icon">settings_remote</i>
{#                                        <i class="fa fa-wifi step-icon" aria-hidden="true"></i>#}
                                        <h4>Deploy your data logger and start collecting data.</h4>

                                    </div>
                                </div>

                                <div class="col-xs-12 col-sm-4 text-center">
                                    <div class="card">
                                        <h3 class="step-number">3</h3>
                                        <i class="fa fa-cloud-upload step-icon" aria-hidden="true"></i>
                                        <h4>Stream your data continuously and view your results online.</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>

    <div class="container-fluid content-section section-image">
        <div class="section-image"
             style='background-image: url("{% static "dataloaderinterface/images/section_image_1.jpg" %}");
                     background-position: 50% 9%;'>
        </div>
    </div>

    <div class="container-fluid content-section">
        <div class="container">
            <div class="col-xs-12">
                <div class="text-center section-title">Explore our Companion Projects</div>

                <div class="col-xs-12 col-sm-6 col-md-3 col-md-offset-3 text-center">
                    <div class="card">
                        <div class="explore-image-container">
                            <img class="card-header-image" src="{% static 'dataloaderinterface/images/site_logo.png' %}"
                                 alt="WebSDL">
                        </div>
                        <h3 class="text-left">EnviroDIY</h3>
                        <h4 class="text-left">A community of enthusiasts sharing do-it-yourself ideas for environmental
                            science and
                            monitoring
                        </h4>
                        <h4 class="visit-link text-left"><a href="http://envirodiy.org/" target="_blank">VISIT SITE <i
                                class="glyphicon glyphicon-chevron-right"></i></a></h4>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-3 text-center">
                    <div class="card">
                        <div class="explore-image-container">
                            <img class="card-header-image" src="{% static 'dataloaderinterface/images/WikiWatershed_logo.png' %}"
                                 alt="WebSDL">
                        </div>
                        <h3 class="text-left">WikiWatershed</h3>
                        <h4 class="text-left">Web tools for collaboratively advancing knowledge and stewardship of fresh
                            water</h4>
                        <h4 class="visit-link text-left"><a href="http://wikiwatershed.org/" target="_blank">VISIT SITE
                            <i class="glyphicon glyphicon-chevron-right"></i></a></h4>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% if not user.is_authenticated %}
        <div class="container-fluid section-gray content-section">
            <div class="container">
                <div class="col-xs-12">
                    <section class="col-xs-12 text-center">
                        <h3>Ready to join?</h3>
                        <h5>Create an account for free.</h5>
                        <h5><a class="orange" href="{% url 'user_registration' %}">SIGN UP</a></h5>
                    </section>
                </div>
            </div>
        </div>

    {% endif %}
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script type="text/javascript">
        function TogglePlotVisibility(id) {
            var plot_id = "#plot_preview_".concat(id);
            if (!$(plot_id).is(":visible")) {
                $(plot_id).show();
            } else {
                $(plot_id).hide();
            }
        }
    </script>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="{% static 'dataloaderinterface/js/vendor/parallax.min.js' %}"></script>
{% endblock %}
