{% extends 'dataloaderinterface/base.html' %}

{% block content %}
    <section class="home-content col-lg-12">
        <header>
            <h1>Web Streaming Data Loader</h1>
        </header>
        {% if user.is_authenticated %}
            <div class="user-info">
                <header>
                    <h3>User info</h3>
                </header>
            </div>
            <div class="devices-info">
                <header>
                    <h3>Devices info - comprehensive list of registered devices</h3>
                </header>
                <div class="devices-list">
                    <a href="{% url 'devices_list' %}">click here to go to the actual list of devices</a>
                </div>
            </div>
            <div class="recent-results">
                <header>
                    <h3>Recent Results - list of last 5-10 time series result values pushed by any device. maybe? not necessary, but would be cool.</h3>
                </header>
            </div>
        {% endif %}
    </section>
{% endblock %}
