{% extends 'dataloaderinterface/base.html' %}
{% load staticfiles %}

{% block content %}
    <div class="container">
        <div class="row">
            <section class="sites-list col-lg-12">
                <div class="page-title">Registered Sites</div>
            </section>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="full-width-map-container my-sites">
                <div id="map"></div>
            </div>
        </div>
    </div>

    <div class="container main-content">
        <div class="row">
            {% for registration in object_list %}
                <div class="col-xs-12 col-sm-3">
                    <div class="mdl-card mdl-shadow--2dp site-card">
                        <div class="mdl-card__title">
                            <h2 class="mdl-card__title-text">{{ registration.device_name }}</h2>
                        </div>

                        <div class="mdl-card__supporting-text">
                            <table>
                                <tbody>
                                <tr>
                                    <td><i class="material-icons site-card-icon">multiline_chart</i></td>
                                    <td>
                                        <small> Sampling Feature</small>
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td><strong>{{ registration.sampling_feature }}</strong></td>
                                </tr>
                                </tbody>
                            </table>
                            <br>
                            <table>
                                <tbody>
                                <tr>
                                    <td><i class="material-icons site-card-icon">today</i></td>
                                    <td>
                                        <small> Registration Date</small>
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td><strong>{{ registration.registration_date }}</strong></td>
                                </tr>
                                </tbody>
                            </table>

                        </div>

                        <div class="mdl-card__actions mdl-card--border">
                            <a href="{% url 'site_detail' registration.registration_id %}"
                               class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                                VIEW SITE
                            </a>
                        </div>

                        <div class="mdl-card__menu">
                            <!-- Right aligned menu below button -->
                            <button id="site-card-menu-{{ forloop.counter0 }}"
                                    class="mdl-button mdl-js-button mdl-button--icon">
                                <i class="material-icons">more_vert</i>
                            </button>

                            <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
                                for="site-card-menu-{{ forloop.counter0 }}">
                                <li class="mdl-menu__item">
                                    <span class="mdl-list__item-primary-content">
                                        View on map
                                    </span>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
            {% endfor %}
        </div>

        <script id="sites-data" type="application/json">
                    [
                    {% for registration in object_list %}
                        {% with sampling_feature=registration.sampling_feature %}
                        {
                            "id": "{{ sampling_feature.sampling_feature_id }}",
                            "code": "{{ sampling_feature.sampling_feature_code }}",
                            "name": "{{ sampling_feature.sampling_feature_name }}",
                            "latitude": {{ sampling_feature.site.latitude }},
                            "longitude": {{ sampling_feature.site.longitude }},
                            "elevation": {{ sampling_feature.elevation_m }}
                        }{% if not forloop.last %},{% endif %}
                        {% endwith %}
                    {% endfor %}
                    ]
                </script>
        </section>
    </div>

{% endblock %}

{% block services_urls %}
    {{ block.super }}
{% endblock %}

{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'dataloaderinterface/css/my-sites.css' %}">
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="{% static 'dataloaderinterface/js/my-sites.js' %}"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAiUxiuZaPEPtB4EhAquguz7kNzYU7bnnc&callback=initMap"></script>
{% endblock %}