{% extends 'dataloaderinterface/base.html' %}
{% load staticfiles %}

{% block content %}
    <div class="container main-content">
        <div class="row">
            <section class="sites-list col-lg-12">
                <header id="space">
                    <h2 class="device">Registered Sites</h2>
                </header>

                <div class="map-container">
                    <div id="map"></div>
                </div>

                <div class="row">
                    {% for registration in object_list %}
                        <div class="col-xs-12 col-sm-4">
                            <a class="li_link" href="{% url 'device_detail' registration.registration_id %}">
                                <div class="card device-card">


                                            <br>
                                            <small>Device Name</small>
                                            <h4><strong>{{ registration.device_name }}</strong></h4>
                                            <br>
                                            <small>Sampling Feature </small>
                                            <h4>{{ registration.sampling_feature }}</h4>
                                            <br>
                                            <small>Registration Date</small>
                                            <h4>{{ registration.registration_date }}</h4>
                                            <br>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>


                <script id="sites-data" type="application/json">
                    [
                    {% for registration in object_list %}
                        {% with sampling_feature=registration.sampling_feature %}
                        {
                            "id": "{{ sampling_feature.sampling_feature_id }}",
                            "code": "{{ sampling_feature.sampling_feature_code }}",
                            "name": "{{ sampling_feature.sampling_feature_name }}",
                            "latitude": {{ sampling_feature.site.latitude }},
                            "longitude": {{ sampling_feature.site.longitude }},
                            "elevation": {{ sampling_feature.elevation_m }}
                        }{% if not forloop.last %},{% endif %}
                        {% endwith %}
                    {% endfor %}
                    ]
                </script>
            </section>
        </div>
    </div>

{% endblock %}

{% block services_urls %}
    {{ block.super }}
{% endblock %}

{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'dataloaderinterface/css/my-sites.css' %}">
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="{% static 'dataloaderinterface/js/my-sites.js' %}"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAiUxiuZaPEPtB4EhAquguz7kNzYU7bnnc&callback=initMap"></script>
{% endblock %}