{% extends 'dataloaderinterface/base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}
{% load site_form_util %}

{% block page_title %}
    <title>Update Site</title>
{% endblock %}

{% block content %}
    <div class="ribbon ribbon-blue">

    </div>
    <div class="ribbon-container">
        <div class="container main-content ribbon-content mdl-color--white mdl-shadow--4dp">
            <div class="row">
                <section class="device-data col-lg-12">
                    <header class="section-header">
                        <div class="page-title">Edit Site Information</div>
                        {% include 'includes/messages.template.html' with messages=messages %}
                    </header>

                    <div class="section-body">
                        <form method="post" enctype="multipart/form-data" role="form" id="site-registration-form">
                            {% csrf_token %}
                            <input name="user_first_name" type="hidden" value="{{ user.first_name }}">
                            <input name="user_last_name" type="hidden" value="{{ user.last_name }}">

                            <fieldset>
                                <br>
                                <div class="row">
                                    <div class="form-group col-sm-12 col-md-4 sampling-feature-fields">
                                        {% for field in form %}
                                            <div class="form-field {% if field.field.required %} required-field{% endif %}{% if field.errors %} has-error{% endif %}"
                                                 data-field="{{ field.name }}">
                                                <label class="control-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
                                                <i id="sampling-feature-help{{ forloop.counter0 }}" class="material-icons text-muted help-icon">help</i>
                                                {{ field.errors }}
                                                <div class="mdl-tooltip mdl-tooltip--large mdl-tooltip--left" data-mdl-for="sampling-feature-help{{ forloop.counter0 }}">
                                                    {{ field.help_text }}
                                                </div>
                                                {{ field|add_class:"form-control input-sm" }}
                                            </div>
                                        {% endfor %}
                                        {% for field in email_alert_form %}
                                            {% if field.name == 'notify' %}
                                                <div class="form-field checkbox {% if field.field.required %} required-field{% endif %}{% if field.errors %} has-error{% endif %}"
                                                     data-field="{{ field.name }}">
                                                    <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect"
                                                           for="{{ field.id_for_label }}">
                                                        {{ field|add_class:"mdl-checkbox__input" }}
                                                        {{ field.label }}

                                                        {{ field.errors }}
                                                        {% if field.help_text %}
                                                            <i id="email-alert-help-{{ forloop.counter0 }}"
                                                               class="material-icons text-muted help-icon">help</i>
                                                        {% endif %}

                                                        {% if field.help_text %}
                                                            <div class="mdl-tooltip mdl-tooltip--large mdl-tooltip--left"
                                                                 data-mdl-for="email-alert-help-{{ forloop.counter0 }}">
                                                                {{ field.help_text }}
                                                            </div>
                                                        {% endif %}
                                                    </label>
                                                </div>
                                            {% else %}
                                                <div class="form-field {% if field.field.required %} required-field{% endif %}{% if field.errors %} has-error{% endif %} {% if not field.value %}hidden{% endif %}"
                                                     data-field="{{ field.name }}" style="margin-top: -15px;">
                                                    <label class="control-label"
                                                           for="{{ field.id_for_label }}">{{ field.label }}{{ field.label_suffix }}
                                                    {% if field.help_text %}
                                                        <i id="email-alert-help-{{ forloop.counter0 }}"
                                                           class="material-icons text-muted help-icon">help</i>
                                                        {{ field.errors }}
                                                        <div class="mdl-tooltip mdl-tooltip--large mdl-tooltip--left"
                                                             data-mdl-for="email-alert-help-{{ forloop.counter0 }}">
                                                            {{ field.help_text }}
                                                        </div>
                                                    {% endif %}
                                                    {{ field|add_class:"form-control input-sm" }}
                                                    {{ email_alert_form.suffix }}
                                                    </label>
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                    <div class="form-group col-sm-12 col-md-8 map-container">
                                        <input type="hidden" name="zoom-level" value="{{ zoom_level }}">
                                        <div id="map"></div>
                                        <small class="text-muted">
                                            <i class="fa fa-info-circle" aria-hidden="true"></i>
                                            Click on the map to update coordinates and elevation data.</small>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <br>
                            </fieldset>

                            <fieldset>
                                <div>
                                    <a class="button-link mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect"
                                            {% if request.resolver_match.view_name == "site_update" %}
                                       href="{% autoescape off %}{% url 'site_detail' siteregistration.sampling_feature_code %}{% endautoescape %}"
                                            {% else %}
                                       href="{% url 'sites_list' %}"
                                            {% endif %}>
                                        Cancel
                                    </a>

                                    <button id="btnRegisterSite" type="submit"
                                            class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent mdl-js-ripple-effect">
                                        {{ help }}
                                        {% if request.resolver_match.view_name == "site_update" %}
                                            Save Edits
                                        {% else %}
                                            Register Site
                                        {% endif %}
                                    </button>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </section>
            </div>
        </div>
    </div>
{% endblock %}

{% block services_urls %}
    {{ block.super }}
{#    <input id="output-variables-api" type="hidden" value="{% url 'output_variables_service' %}">#}
{#    <input id="model-variables-api" type="hidden" value="{% url 'model_variables_service' %}">#}
{#    <input id="result-validation-api" type="hidden" value="{% url 'result_validation_service' %}">#}
{#    <input id="sensor-registration-api" type="hidden" value="{% url 'register_sensor_service' %}">#}
{#    <input id="sensor-edit-api" type="hidden" value="{% url 'edit_sensor_service' %}">#}
{#    <input id="sensor-delete-api" type="hidden" value="{% url 'delete_sensor_service' %}">#}
{% endblock %}

{% block styles %}
    {{ block.super }}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-theme/0.1.0-beta.6/select2-bootstrap.min.css" rel="stylesheet"/>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.full.min.js"></script>
    <script src="{% static 'dataloaderinterface/js/common-forms.js' %}"></script>
    <script src="{% static 'dataloaderinterface/js/site-update-form.js' %}"></script>
    <script src="{% static 'dataloaderinterface/js/copyToClipboard.js' %}"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAiUxiuZaPEPtB4EhAquguz7kNzYU7bnnc&callback=initMap"></script>
{% endblock %}
