{% extends 'dataloaderinterface/base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}
{% load site_form_util %}

{% block content %}
    <div class="ribbon ribbon-blue">

    </div>
    <div class="ribbon-container">
        <div class="container main-content ribbon-content mdl-color--white mdl-shadow--4dp">
            <div class="row">
                <section class="device-data col-lg-12">
                    <header class="section-header">
                        <div class="page-title">Edit Site Information</div>
                        {% include 'includes/messages.template.html' with messages=messages %}
                    </header>

                    <div class="section-body">
                        <form method="post" enctype="multipart/form-data" role="form" id="site-registration-form">
                            {% csrf_token %}
                            <input name="user_first_name" type="hidden" value="{{ user.first_name }}">
                            <input name="user_last_name" type="hidden" value="{{ user.last_name }}">

                            <fieldset>
                                <br>
                                <div class="row">
                                    <div class="form-group col-sm-12 col-md-4 sampling-feature-fields">
                                        {% for field in form %}
                                            <div class="form-field {% if field.field.required %} required-field{% endif %}{% if field.errors %} has-error{% endif %}"
                                                 data-field="{{ field.name }}">
                                                <label class="control-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
                                                <i id="sampling-feature-help{{ forloop.counter0 }}" class="material-icons text-muted help-icon">help</i>
                                                {{ field.errors }}
                                                <div class="mdl-tooltip mdl-tooltip--large mdl-tooltip--left" data-mdl-for="sampling-feature-help{{ forloop.counter0 }}">
                                                    {{ field.help_text }}
                                                </div>
                                                {{ field|add_class:"form-control input-sm" }}
                                            </div>
                                        {% endfor %}
                                    </div>
                                    <div class="form-group col-sm-12 col-md-8 map-container">
                                        <input type="hidden" name="zoom-level" value="{{ zoom_level }}">
                                        <div id="map"></div>
                                        <small class="text-muted">
                                            <i class="fa fa-info-circle" aria-hidden="true"></i>
                                            Click on the map to update coordinates and elevation data.</small>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <br>
                            </fieldset>

                            <fieldset class="form-fieldset">
                                <div class="row">
                                    <div class="col-lg-12 results-table" id="formset"
                                         data-formset-prefix="{{ results_formset.prefix }}">

                                        <div class="section-title inline">Sensors</div>

                                        <span id="new-result-button" data-toggle="modal"
                                              data-target="#result-dialog"
                                              class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect mdl-button--colored">
                                            <i class="material-icons">add</i>
                                        </span>

                                        <div class="mdl-tooltip" data-mdl-for="new-result-button">
                                           Add New Sensor
                                        </div>

                                        <br><br>

                                        <div style="overflow: auto;">
                                            <table class="no-hover mdl-textfield--full-width mdl-data-table mdl-shadow--2dp mdl-js-data-table sensors full-width">
                                                <thead>
                                                <tr class="full-width">
                                                    <th class="mdl-data-table__cell--non-numeric">Equipment Make-Model
                                                    </th>
                                                    <th class="mdl-data-table__cell--non-numeric">Measured
                                                        Variable
                                                    </th>
                                                    <th class="mdl-data-table__cell--non-numeric">Units</th>
                                                    <th class="mdl-data-table__cell--non-numeric">Sampled Medium
                                                    </th>
                                                    <th class="mdl-data-table__cell--non-numeric">Edit</th>
                                                    <th class="mdl-data-table__cell--non-numeric">Delete</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for sensor in object.sensors.all %}
                                                <tr class="result-form"
                                                        data-id="{{ sensor.id }}"
                                                        data-result_id="{{ sensor.result_id }}"
                                                        data-result_uuid="{{ sensor.result_uuid }}"
                                                        data-sensor_output="{{ sensor.sensor_output_id }}"
                                                        data-sensor_manufacturer="{{ sensor.sensor_output.model_manufacturer }}"
                                                        data-sensor_model="{{ sensor.sensor_output.model_id }}"
                                                        data-variable="{{ sensor.sensor_output.variable_id }}"
                                                        data-unit="{{ sensor.sensor_output.unit_id }}"
                                                        data-sampled_medium="{{ sensor.sensor_output.sampled_medium }}">

                                                    <td data-field="sensor_model" class="mdl-data-table__cell--non-numeric">
                                                        <span class="field-text">{{ sensor.sensor_output.model_name }}</span>
                                                    </td>

                                                    <td data-field="variable" class="mdl-data-table__cell--non-numeric">
                                                        <span class="field-text">{{ sensor.sensor_output.variable_code }}</span>
                                                    </td>

                                                    <td data-field="unit" class="mdl-data-table__cell--non-numeric">
                                                        <span class="field-text">{{ sensor.sensor_output.unit_name }}</span>
                                                    </td>

                                                    <td data-field="sampled_medium" class="mdl-data-table__cell--non-numeric">
                                                        <span class="field-text">{{ sensor.sensor_output.sampled_medium }}</span>
                                                    </td>
                                                    <td data-behaviour="edit"
                                                        class="mdl-data-table__cell--non-numeric">
                                                        <button class="mdl-button mdl-button--accent"
                                                                type="button">
                                                            <i class="material-icons center-icon">mode_edit</i>
                                                        </button>
                                                    </td>
                                                    <td data-behaviour="delete"
                                                        class="mdl-data-table__cell--non-numeric">
                                                        <button class="mdl-button" style="color: #d9534f" type="button">
                                                            <i class="material-icons center-icon">delete_forever</i>
                                                        </button>
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                                <tr class="no-sensors-row bg-white {% if object.sensors.count > 0 %}hidden{% endif %}">
                                                    <td colspan="6" class="text-center">No sensors have been added.</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>

                                        <script id="sensor-row" type="text/plain">
                                            <tr class="result-form"
                                                    data-id="" data-result_id="" data-result_uuid="" data-sensor_output=""
                                                    data-sensor_manufacturer="" data-sensor_model="" data-variable=""
                                                    data-unit="" data-sampled_medium="">

                                                <td data-field="sensor_model" class="mdl-data-table__cell--non-numeric">
                                                    <span class="field-text"></span>
                                                </td>

                                                <td data-field="variable" class="mdl-data-table__cell--non-numeric">
                                                    <span class="field-text"></span>
                                                </td>

                                                <td data-field="unit" class="mdl-data-table__cell--non-numeric">
                                                    <span class="field-text"></span>
                                                </td>

                                                <td data-field="sampled_medium" class="mdl-data-table__cell--non-numeric">
                                                    <span class="field-text"></span>
                                                </td>
                                                <td data-behaviour="edit"
                                                    class="mdl-data-table__cell--non-numeric">
                                                    <button class="mdl-button mdl-button--accent"
                                                            type="button">
                                                        <i class="material-icons center-icon">mode_edit</i>
                                                    </button>
                                                </td>
                                                <td data-behaviour="delete"
                                                    class="mdl-data-table__cell--non-numeric">
                                                    <button class="mdl-button" style="color: #d9534f" type="button">
                                                        <i class="material-icons center-icon">delete_forever</i>
                                                    </button>
                                                </td>
                                            </tr>
                                        </script>
                                    </div>
                                </div>
                            </fieldset>

                            <br>

                            <div style="margin-top: 20px;">
                                <a class="button-link mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect"
                                        {% if request.resolver_match.view_name == "site_update" %}
                                   href="{% autoescape off %}{% url 'site_detail' sampling_feature_form.sampling_feature_code.value %}{% endautoescape %}"
                                        {% else %}
                                   href="{% url 'sites_list' %}"
                                        {% endif %}
                                >
                                    Cancel
                                </a>

                                <button id="btnRegisterSite" type="submit"
                                        class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent mdl-js-ripple-effect">
                                    {{ help }}
                                    {% if request.resolver_match.view_name == "site_update" %}
                                        Save Edits
                                    {% else %}
                                        Register Site
                                    {% endif %}
                                </button>
                            </div>
                        </form>
                    </div>
                </section>
            </div>
        </div>
    </div>

    <div id="result-dialog" class="modal fade" role="dialog" aria-hidden="true">
        <div class="vertical-alignment-helper">
            <div class="modal-dialog vertical-align-center">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 id="result-dialog-title">Add Sensor</h4>
                        <span class="text-muted result-d-container" >UUID: <small data-copy-target="result-dialog-uuid"
                               id="result-dialog-uuid"></small></span>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="form-group col-12 result-form">
                            {% for hidden in sensor_form.hidden_fields %}
                                {{ hidden }}
                            {% endfor %}
                            {% for field in sensor_form.visible_fields %}
                                <div class="form-field {% if field.field.required %}required-field{% endif %}">
                                    <label class="control-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
                                    {% with "placeholder:"|add:field.help_text as placeholder %}
                                        {{ field|add_class:"form-control input-sm"|attr:placeholder }}
                                    {% endwith %}
                                </div>
                            {% endfor %}
                            </div>

                            <div class="col-12">
                                <div class="alert alert-light mdl-card" style="width: 100%; min-height: initial;">
                                    <strong>Don't see your sensor in the list of equipment models?</strong>
                                    <small>Click <a href="mailto:ww-data-portal-help@googlegroups.com?Subject=Request%20for%20new%20sensor">here</a> to send an email to
                                    a system administrator with a request to add new sensors. Please provide us with the
                                    manufacturer and make/model information for the sensor, as well as a link to a
                                    website description if you can.</small>

                                    <div class="input-group mb-3">
                                        <input readonly id="adminEmail" type="text" class="form-control" value="ww-data-portal-help@googlegroups.com"
                                               aria-label="Administrator's email">

                                        <div class="input-group-append">
                                            <button style="border: 1px solid #DDD; margin-left: -1px;" class="mdl-button mdl-js-button mdl-js-ripple-effect"
                                                    data-copy-target="adminEmail">
                                                Copy to clipboard
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="clearfix"></div>
                    </div>
                    <div class="modal-footer">
                        <button data-dismiss="modal" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
                            Cancel
                        </button>

                        <button id="edit-sensor-button"
                                class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent mdl-js-ripple-effect">
                            Update Sensor
                        </button>

                        <button id="add-sensor-button"
                                class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent mdl-js-ripple-effect">
                            Add New Sensor
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="confirm-delete" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Delete sensor</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <div id="data-removal-warning" class="alert alert-danger hidden">All stored data corresponding to
                        this sensor will be deleted.<br/></div>
                    <p>Are you sure you want to remove this sensor?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="mdl-button mdl-button--raised" data-dismiss="modal">Cancel</button>
                    <button type="button" class="mdl-button mdl-button--raised"
                            style="background: #d9534f; color:#FFF;" id="btn-confirm-delete">Delete
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block services_urls %}
    {{ block.super }}
    <input id="output-variables-api" type="hidden" value="{% url 'output_variables_service' %}">
    <input id="model-variables-api" type="hidden" value="{% url 'model_variables_service' %}">
    <input id="result-validation-api" type="hidden" value="{% url 'result_validation_service' %}">
    <input id="sensor-registration-api" type="hidden" value="{% url 'register_sensor_service' %}">
    <input id="sensor-edit-api" type="hidden" value="{% url 'edit_sensor_service' %}">
{% endblock %}

{% block styles %}
    {{ block.super }}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-theme/0.1.0-beta.6/select2-bootstrap.min.css" rel="stylesheet"/>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.full.min.js"></script>
    <script src="{% static 'dataloaderinterface/js/common-forms.js' %}"></script>
    <script src="{% static 'dataloaderinterface/js/site-update-form.js' %}"></script>
    <script src="{% static 'dataloaderinterface/js/copyToClipboard.js' %}"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAiUxiuZaPEPtB4EhAquguz7kNzYU7bnnc&callback=initMap"></script>
{% endblock %}
