{% extends 'dataloaderinterface/base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}
{% load site_form_util %}

{% block content %}
    <div class="ribbon ribbon-blue">

    </div>
    <div class="ribbon-container">
        <div class="container main-content ribbon-content mdl-color--white mdl-shadow--4dp">
            <div class="row">
                <section class="device-data col-lg-12">
                    <header class="section-header">
                        <div class="page-title">{% if request.resolver_match.view_name == "site_update" %}Edit Site
                            Information{% else %}Register a Site{% endif %}</div>
                        {% if messages %}
                            {% for message in messages %}
                                <span class="form-message {{ message.tags }}">{{ message }}</span>
                            {% endfor %}
                        {% endif %}
                    </header>

                    <div class="section-body">
                        <form method="post" enctype="multipart/form-data" role="form">
                            {% csrf_token %}
                            <input name="user_first_name" type="hidden" value="{{ user.first_name }}">
                            <input name="user_last_name" type="hidden" value="{{ user.last_name }}">

                            <fieldset>
                                <br>
                                <div class="row">
                                    <div class="form-group col-sm-12 col-md-4 sampling-feature-fields">
                                        {% if user.is_staff %}
                                            {% for field in action_by_form %}
                                                <div class="form-field {% if field.field.required %} required-field{% endif %}{% if field.errors %} has-error{% endif %}"
                                                     data-field="{{ field.name }}">
                                                    <label class="control-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
                                                    <i id="sampling-feature-help{{ forloop.counter0 }}" class="material-icons text-muted help-icon">help</i>
                                                    {{ field.errors }}
                                                    <div class="mdl-tooltip mdl-tooltip--large mdl-tooltip--left" data-mdl-for="sampling-feature-help{{ forloop.counter0 }}">
                                                        {{ field.help_text }}
                                                    </div>
                                                    {{ field|add_class:"form-control input-sm" }}
                                                </div>
                                            {% endfor %}
                                        {% endif %}

                                        {% for field in sampling_feature_form %}
                                            <div class="form-field {% if field.field.required %} required-field{% endif %}{% if field.errors %} has-error{% endif %}"
                                                 data-field="{{ field.name }}">
                                                <label class="control-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
                                                <i id="sampling-feature-help{{ forloop.counter0 }}" class="material-icons text-muted help-icon">help</i>
                                                {{ field.errors }}
                                                <div class="mdl-tooltip mdl-tooltip--large mdl-tooltip--left" data-mdl-for="sampling-feature-help{{ forloop.counter0 }}">
                                                    {{ field.help_text }}
                                                </div>
                                                {{ field|add_class:"form-control input-sm" }}
                                            </div>
                                        {% endfor %}

                                        {% for field in site_form %}
                                            <div class="form-field {% if field.field.required %} required-field{% endif %}{% if field.errors %} has-error{% endif %}"
                                                 data-field="{{ field.name }}">
                                                <label class="control-label"
                                                       for="{{ field.id_for_label }}">{{ field.label }}</label>
                                                <i id="site-help{{ forloop.counter0 }}"
                                                   class="material-icons text-muted help-icon">help</i>
                                                {{ field.errors }}
                                                <div class="mdl-tooltip mdl-tooltip--large mdl-tooltip--left"
                                                     data-mdl-for="site-help{{ forloop.counter0 }}">
                                                    {{ field.help_text }}
                                                </div>
                                                {{ field|add_class:"form-control input-sm" }}
                                            </div>
                                        {% endfor %}

                                        {% for field in email_alert_form %}
                                            {% if field.name == 'notify' %}
                                                <div class="form-field checkbox {% if field.field.required %} required-field{% endif %}{% if field.errors %} has-error{% endif %}"
                                                     data-field="{{ field.name }}">
                                                    <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect"
                                                           for="{{ field.id_for_label }}">
                                                        {{ field|add_class:"mdl-checkbox__input" }}
                                                        {{ field.label }}

                                                        {% if field.help_text %}
                                                            <i id="email-alert-help-{{ forloop.counter0 }}"
                                                               class="material-icons text-muted help-icon">help</i>
                                                            {{ field.errors }}
                                                            <div class="mdl-tooltip mdl-tooltip--large mdl-tooltip--left"
                                                                 data-mdl-for="email-alert-help-{{ forloop.counter0 }}">
                                                                {{ field.help_text }}
                                                            </div>
                                                        {% endif %}
                                                    </label>
                                                </div>
                                            {% else %}
                                                <div class="form-field {% if field.field.required %} required-field{% endif %}{% if field.errors %} has-error{% endif %} {% if not field.value %}hidden{% endif %}"
                                                     data-field="{{ field.name }}" style="margin-top: -15px;">
                                                    <label class="control-label"
                                                           for="{{ field.id_for_label }}">{{ field.label }}</label>

                                                    {% if field.help_text %}
                                                        <i id="email-alert-help-{{ forloop.counter0 }}"
                                                           class="material-icons text-muted help-icon">help</i>
                                                        {{ field.errors }}
                                                        <div class="mdl-tooltip mdl-tooltip--large mdl-tooltip--left"
                                                             data-mdl-for="email-alert-help-{{ forloop.counter0 }}">
                                                            {{ field.help_text }}
                                                        </div>
                                                    {% endif %}
                                                    {{ field|add_class:"form-control input-sm" }}
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                    <div class="form-group col-sm-12 col-md-8 map-container">
                                        <input type="hidden" name="zoom-level" value="{{ zoom_level }}">
                                        <div id="map"></div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </fieldset>

                            <br>

                            <fieldset class="form-fieldset">
                                <div class="row">
                                    <div class="col-lg-12 results-table" id="formset"
                                         data-formset-prefix="{{ results_formset.prefix }}">

                                        <div class="section-title inline">Sensors</div>

                                        <span id="new-result-button" data-toggle="modal"
                                              data-target="#result-dialog"
                                              class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect mdl-button--colored">
                                            <i class="material-icons">add</i>
                                        </span>

                                        <div class="mdl-tooltip" data-mdl-for="new-result-button">
                                           Add New Sensor
                                        </div>

                                        <br><br>

                                        {{ results_formset.management_form }}

                                        <div style="overflow: auto;">
                                            <table class="mdl-textfield--full-width mdl-data-table mdl-shadow--2dp mdl-js-data-table sensors full-width">
                                                <thead>
                                                <tr class="full-width">
                                                    <th class="mdl-data-table__cell--non-numeric">Equipment Model
                                                    </th>
                                                    <th class="mdl-data-table__cell--non-numeric">Measured
                                                        Variable
                                                    </th>
                                                    <th class="mdl-data-table__cell--non-numeric">Units</th>
                                                    <th class="mdl-data-table__cell--non-numeric">Sampled Medium
                                                    </th>
                                                    <th class="mdl-data-table__cell--non-numeric">Edit</th>
                                                    <th class="mdl-data-table__cell--non-numeric">Delete</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for result_form in results_formset %}
                                                    {% if result_form|has_data %}
                                                        <tr class="result-form {% if result_form|is_deleted %} deleted-row {% endif %}"
                                                            data-result="{{ result_form.prefix }}">
                                                            <input type="hidden"
                                                                   name="{{ result_form.prefix }}-result_id"
                                                                   class="field-value"
                                                                   value="{{ result_form.initial.result_id }}"/>
                                                            {% for field in result_form %}
                                                                {% if field.name != "DELETE" %}
                                                                    <td data-field="{{ field.name }}"
                                                                        class="mdl-data-table__cell--non-numeric">
                                                                        <span class="field-text">{{ result_form|get_field_data:field.name }}</span>
                                                                        <input type="hidden"
                                                                               name="{{ field.html_name }}"
                                                                               class="field-value"
                                                                               value="{{ field.value }}"/>
                                                                    </td>
                                                                {% endif %}
                                                            {% endfor %}
                                                            <td data-behaviour="edit"
                                                                class="mdl-data-table__cell--non-numeric">
                                                                <button class="mdl-button mdl-button--accent"
                                                                        type="button">
                                                                    <i class="material-icons center-icon">mode_edit</i>
                                                                </button>
                                                            </td>
                                                            <td data-behaviour="delete"
                                                                class="mdl-data-table__cell--non-numeric">
                                                                <button class="mdl-button" style="color: #d9534f"
                                                                        type="button">
                                                                    <i class="material-icons center-icon">delete_forever</i>
                                                                    {{ result_form.DELETE }}
                                                                </button>
                                                            </td>
                                                        </tr>
                                                    {% endif %}
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>

                                        <script id="sensor-row" type="text/plain">
                                            <tr class="result-form" data-result="form-__prefix__">
                                                <td data-field="equipment_model" class="mdl-data-table__cell--non-numeric">
                                                    <span class="field-text"></span>
                                                    <input type="hidden" name="form-__prefix__-equipment_model" class="field-value" value="" />
                                                </td>
                                                <td data-field="variable" class="mdl-data-table__cell--non-numeric">
                                                    <span class="field-text"></span>
                                                    <input type="hidden" name="form-__prefix__-variable" class="field-value" value="" />
                                                </td>
                                                <td data-field="unit" class="mdl-data-table__cell--non-numeric">
                                                    <span class="field-text"></span>
                                                    <input type="hidden" name="form-__prefix__-unit" class="field-value" value="" />
                                                </td>
                                                <td data-field="sampled_medium" class="mdl-data-table__cell--non-numeric">
                                                    <span class="field-text"></span>
                                                    <input type="hidden" name="form-__prefix__-sampled_medium" class="field-value" value="" />
                                                </td>
                                                <td data-behaviour="edit" class="mdl-data-table__cell--non-numeric">
                                                    <button class="mdl-button mdl-button--accent" type="button">
                                                        <i class="material-icons center-icon">mode_edit</i>
                                                    </button>
                                                </td>
                                                <td data-behaviour="delete" class="mdl-data-table__cell--non-numeric">
                                                    <button class="mdl-button" type="button" data-toggle="modal">
                                                        <i style="color: #d9534f;" class="material-icons center-icon">delete_forever</i>
                                                        <input type="checkbox" name="form-__prefix__-DELETE" class="field-value"/>
                                                    </button>
                                                </td>
                                            </tr>
                                        </script>
                                    </div>
                                </div>
                            </fieldset>

                            <br>

                            <div style="margin-top: 20px;">
                                <a class="button-link mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect"
                                        {% if request.resolver_match.view_name == "site_update" %}
                                   href="{% autoescape off %}{% url 'site_detail' sampling_feature_form.sampling_feature_code.value %}{% endautoescape %}"
                                        {% else %}
                                   href="{% url 'sites_list' %}"
                                        {% endif %}
                                >
                                    Cancel
                                </a>

                                <button id="btnRegisterSite" type="submit"
                                        class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent mdl-js-ripple-effect">
                                    {{ help }}{% if request.resolver_match.view_name == "site_update" %}Save
                                        Edits{% else %}Register Site{% endif %}
                                </button>
                            </div>
                        </form>
                    </div>
                </section>
            </div>
        </div>
    </div>

    <div id="result-dialog" class="modal fade" role="dialog" aria-hidden="true">
        <div class="vertical-alignment-helper">
            <div class="modal-dialog vertical-align-center">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4>Add Sensor</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="form-group col-lg-12 result-form">
                            {% for field in results_formset.empty_form %}
                                {% if field.name != "DELETE" %}
                                <div class="form-field col-lg-12 {% if field.field.required %}required-field{% endif %} {% if field.errors %}has-error{% endif %}">
                                    <label class="control-label" for="{{ field.id_for_label }}">{{ field.label }}</label> {{ field.errors }}
                                    {% with "placeholder:"|add:field.help_text as placeholder %}
                                        {{ field|add_class:"form-control input-sm"|attr:placeholder }}
                                    {% endwith %}
                                </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                        </div>

                        <div class="clearfix"></div>
                    </div>
                    <div class="modal-footer">
                        <button data-dismiss="modal" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
                            Cancel
                        </button>

                        <button id="edit-sensor-button"
                                class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent mdl-js-ripple-effect">
                            Update Sensor
                        </button>

                        <button id="add-sensor-button"
                                class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent mdl-js-ripple-effect">
                            Add New Sensor
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="confirm-delete" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Delete sensor</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <div id="data-removal-warning" class="alert alert-danger hidden">All stored data corresponding to
                        this sensor will be deleted.<br/></div>
                    <p>Are you sure you want to remove this sensor?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="mdl-button mdl-button--raised" data-dismiss="modal">Cancel</button>
                    <button type="button" class="mdl-button mdl-button--raised"
                            style="background: #d9534f; color:#FFF;" id="btn-confirm-delete">Delete
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block services_urls %}
    {{ block.super }}
    <input id="model-variables-api" type="hidden" value="{% url 'model_variables_service' %}">
    <input id="result-validation-api" type="hidden" value="{% url 'result_validation_service' %}">
{% endblock %}

{% block styles %}
    {{ block.super }}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-theme/0.1.0-beta.6/select2-bootstrap.min.css" rel="stylesheet"/>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.full.min.js"></script>
    <script src="{% static 'dataloaderinterface/js/common-forms.js' %}"></script>
    <script src="{% static 'dataloaderinterface/js/site-form.js' %}"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAiUxiuZaPEPtB4EhAquguz7kNzYU7bnnc&callback=initMap"></script>
{% endblock %}
